Repository AliceO2Group/WebUi, pull requests merged in 2018-05, with the labels that each got.

#132 Changed EventTarget to EventEmitter. Documentation of WS
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/message.js
  Framework/Backend/websocket/server.js
  Framework/Frontend/js/src/EventEmitter.js
  Framework/Frontend/js/src/EventTarget.js
  Framework/Frontend/js/src/WebSocketClient.js
  Framework/Frontend/js/src/index.js
  Framework/docs/guide/websocket-client.md
  Framework/docs/guide/websockets.md
  Framework/docs/reference/frontend-css.html
  Framework/docs/skeleton/public/Model.js
  Framework/docs/skeleton/public/view.js
  QualityControl/public/app.css
Labels: Backend, Framework, Frontend

#136 Added stat option to qcg
  QualityControl/public/app/object/objectPropertiesSidebar.js
Labels: Framework, Quality Control

#141 Rename Log into log
  Framework/Backend/index.js
  Framework/docs/guide/logging.md
Labels: Framework

#140 Make information service optional
  QualityControl/config-default.js
  QualityControl/lib/InformationServiceState.js
  QualityControl/lib/QCModel.js
  QualityControl/public/app/object/Object.js
  QualityControl/public/app/object/objectTreeHeader.js
  QualityControl/public/app/object/objectTreeSidebar.js
  QualityControl/test/mocha-index.js
Labels: Quality Control

#139 Move to aliBuild installation
  QualityControl/README.md
  QualityControl/config-default.js
Labels: Quality Control
