Repository AliceO2Group/WebUi, pull requests merged in 2018-07, with the labels that each got.

#153 Config default added
  InfoLogger/.gitignore
  InfoLogger/config-default.js
Labels: InfoLogger

#154 Adapt QCG to the newest framework changes
  QualityControl/README.md
  QualityControl/lib/MySQLConnector.js
  QualityControl/lib/TObject2JsonClient.js
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/app/EventEmitter.class.js
  QualityControl/public/app/QueryRouter.class.js
  QualityControl/public/app/layout/layoutListHeader.js
  QualityControl/public/app/layout/layoutShowHeader.js
  QualityControl/public/app/loader/Loader.js
  QualityControl/public/app/object/objectDraw.js
  QualityControl/public/app/view.js
  QualityControl/public/common/Types.js
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/common/utils.js
  QualityControl/public/index.html
  QualityControl/public/layout/Grid.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutListHeader.js
  QualityControl/public/layout/layoutListPage.js
  QualityControl/public/layout/layoutShowHeader.js
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/loader/spinner.js
  QualityControl/public/object/Object.js
  QualityControl/public/object/ObjectTree.class.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectPropertiesSidebar.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/view.js
Labels: Quality Control

#159 Added doc on mirhtil wrapper
  .eslintrc.js
  Framework/Frontend/js/src/renderer.js
  Framework/README.md
  Framework/docs/reference/frontend-api.md
Labels: Documentation

#170 Support reading multilpe/choped logs from TCP segments
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/test/mocha-log.js
Labels: Backend, Framework, InfoLogger

#167 Added check of CCDB data to QCG
  QualityControl/lib/CCDBConnector.js
Labels: Quality Control

#168 Fix mithril path
  Framework/Frontend/js/src/renderer.js
  Framework/package-lock.json
  Framework/package.json
Labels: Framework, Frontend

#171 Fix minor reported issue
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/public/Model.js
  InfoLogger/public/app.css
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/inspector.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/public/view.js
Labels: InfoLogger

#172 ILG v1.0.3
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: Framework, InfoLogger, Release

#175 Bump dependencies
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: Framework, InfoLogger

#180 Moved timeout to config.js, Upgraded gRPC version
  Control/config-default.js
  Control/lib/ControlProxy.js
  Control/package-lock.json
  Control/package.json
Labels: Control
