Repository AliceO2Group/WebUi, pull requests merged in 2018-04, with the labels that each got.

#109 Fixes and improvements to the Framework front-end
  Framework/Frontend/css/src/bootstrap.css
  Framework/Frontend/js/src/icons.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/test/mocha-index.js
  Framework/README.md
  Framework/docs/guide/devel.md
  Framework/docs/reference/frontend-css.html
  Framework/package.json
Labels: Framework, Frontend

#111 Upgraded QCG to WebUi
  QualityControl/index.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/app.css
  QualityControl/public/app/header.js
  QualityControl/public/app/icons.js
  QualityControl/public/app/layout/Layout.js
  QualityControl/public/app/layout/layoutListHeader.js
  QualityControl/public/app/layout/layoutShow.js
  QualityControl/public/app/layout/layoutShowHeader.js
  QualityControl/public/app/object/objectDraw.js
  QualityControl/public/app/object/objectPropertiesSidebar.js
  QualityControl/public/app/object/objectTree.js
  QualityControl/public/app/object/objectTreeHeader.js
  QualityControl/public/app/object/objectTreeSidebar.js
  QualityControl/public/app/sidebar.js
  QualityControl/public/app/view.js
  QualityControl/public/index.html
Labels: Quality Control

#113 Update CI
  .eslintrc.js
  .travis.yml
  Framework/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: CI

#112 Fixes on WebUi (OGUI-146)
  .travis.yml
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-db.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Backend/test/mocha-log.js
  Framework/Backend/test/mocha-ws.js
  Framework/Frontend/css/src/bootstrap.css
  Framework/Frontend/js/src/index.js
  Framework/docs/reference/frontend-css.html
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, Documentation, Framework, Frontend

#121 Fix postintall with config.js
  QualityControl/package.json
Labels: Fix, Quality Control

#126 Changed router properties access
  QualityControl/public/app/Model.js
  QualityControl/public/app/QueryRouter.class.js
  QualityControl/public/app/object/Object.js
  QualityControl/public/app/object/objectTree.js
  QualityControl/public/app/sidebar.js
  QualityControl/public/app/view.js
Labels: Quality Control

#129 Travis: fetch all branches
  .travis.yml
Labels: CI

#127 [WIP] Added QCG frontend tests
  .travis.bash
  .travis.yml
  QualityControl/README.md
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/app/layout/layoutShowHeader.js
  QualityControl/public/app/object/objectTree.js
  QualityControl/public/app/object/objectTreeSidebar.js
  QualityControl/public/app/sidebar.js
  QualityControl/public/app/view.js
  QualityControl/test/mocha-index.js
  QualityControl/test/test-config.js
Labels: Frontend, Quality Control

#130 Init Control
  Control/.gitignore
  Control/README.md
  Control/index.js
  Control/octl.js
  Control/octlserver.proto
  Control/package-lock.json
  Control/package.json
  Control/padlock.js
  Control/public/Model.js
  Control/public/index.html
  Control/public/view.js
Labels: Backend, Control, Frontend
