Repository AliceO2Group/WebUi, pull requests merged in 2018-08, with the labels that each got.

#185 Pass configuration parameters to logging class
  InfoLogger/lib/configProvider.js
Labels: Backend, InfoLogger

#187 Fixed configuring log class
  Control/lib/configProvider.js
  QualityControl/lib/configProvider.js
Labels: Backend, Control, Quality Control

#186 Fix ZMQ log messages
  Framework/Backend/zeromq/client.js
Labels: Backend, Framework

#182 Added message on connection lost for ILG
  InfoLogger/public/Model.js
Labels: InfoLogger

#183 Improve error handling
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/common/Timezone.js
  InfoLogger/public/logFilter/LogFilter.js
Labels: Framework, InfoLogger

#189 Allow OAuth in Control and InfoLogger
  Control/index.js
  InfoLogger/index.js
Labels: Backend, Control, InfoLogger

#190 Add ZeroMQ connection retry timeout
  Framework/Backend/zeromq/client.js
Labels: Backend, Framework

#191 Add config examples of oauth and jwt
  Framework/docs/guide/json-tokens.md
  Framework/docs/guide/oauth.md
Labels: Documentation

#184 Added human readable error messages in Loader
  Framework/Frontend/js/src/Loader.js
  Framework/docs/reference/frontend-api.md
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: Frontend

#194 Tidy up framework docs
  Framework/README.md
  Framework/docs/guide/auth.md
  Framework/docs/guide/overview.md
  Framework/docs/skeleton/README.md
  Framework/docs/tutorial/config.js
  Framework/docs/tutorial/index.js
  Framework/docs/tutorial/public/Model.js
  Framework/docs/tutorial/public/index.html
  Framework/docs/tutorial/public/view.js
  Framework/docs/tutorial/time-server.md
  Framework/package.json
Labels: Documentation, Framework

#195 Improve InfoLogger docs
  InfoLogger/README.md
  InfoLogger/docs/il-protocol.md
  InfoLogger/docs/stream-specs.txt
Labels: Documentation, InfoLogger

#196 Remove exception preventing from renaming a tab
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutShowHeader.js
Labels: Quality Control

#200 Speed up start up of the server
  InfoLogger/lib/SQLDataSource.js
Labels: Backend, InfoLogger

#199 Display details of a currently logged user
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/appHeader.js
  Framework/Frontend/css/src/bootstrap.css
  Framework/docs/reference/frontend-css.html
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/view.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
Labels: Control, Frontend, InfoLogger, Quality Control

#206 Modified changing live filtering
  InfoLogger/public/log/Log.js
Labels: InfoLogger

#204 Renamed properties of time-series
  Framework/Frontend/js/src/chart.js
  Framework/docs/guide/charts.md
  Framework/docs/reference/chart.html
  Framework/docs/reference/frontend-api.md
Labels: Frontend

#192 Store users configuration data in local JSON file instead of MySQL
  QualityControl/.gitignore
  QualityControl/config-default.js
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/MySQLConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutListPage.js
  QualityControl/public/layout/layoutShowHeader.js
  QualityControl/test/mocha-index.js
  QualityControl/test/mocha-json-db.js
Labels: Quality Control

#210 Fixed safari scrolling
  InfoLogger/public/Model.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/tableLogsContent.js
Labels: InfoLogger

#211 QCG public API
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
  QualityControl/README.md
  QualityControl/lib/api.js
  QualityControl/public/object/Object.js
  QualityControl/test/mocha-index.js
Labels: Backend, Quality Control

#209 Changed arrows behavior to always ON if list is not empty
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
Labels: InfoLogger

#212 Fix QCG creation page
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
Labels: Quality Control

#213 Upgraded QCG to framework 1.5.1 for public paths
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control

#217 Label the logs
  Framework/Backend/db/mysql.js
  Framework/Backend/http/oauth.js
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/log/Log.js
  Framework/Backend/log/log.js
  Framework/Backend/log/winston.js
  Framework/Backend/test/mocha-log.js
  Framework/Backend/websocket/server.js
  Framework/Backend/zeromq/client.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, Framework

#220 Adapt Control to new Log API
  Control/lib/ControlProxy.js
  Control/lib/api.js
  Control/lib/configProvider.js
  Control/package-lock.json
  Control/package.json
Labels: Backend, Control

#219 Adapt IL to Log changes
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/api.js
  InfoLogger/lib/configProvider.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: Backend, InfoLogger

#218 Adapt QC to log changes
  QualityControl/index.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/TObject2JsonClient.js
  QualityControl/lib/api.js
  QualityControl/lib/configProvider.js
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Backend, Quality Control

#216 Added ilg eslint to frontend
  Framework/docs/guide/devel.md
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/common/Timezone.js
  InfoLogger/public/common/moment-timezone.js
  InfoLogger/public/common/moment.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/severityUtils.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/public/log/tableLogsScrollMap.js
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/commandFilters.js
  InfoLogger/public/logFilter/tableFilters.js
  InfoLogger/public/view.js
Labels: InfoLogger

#222 Identify WS clients and allow unfiltered broadcast
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, Framework

#223 Notify end client when InfoLogger server disconnects
  InfoLogger/lib/api.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
Labels: InfoLogger

#224 QCG eslint frontend
  .eslintrc.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/common/Types.js
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/common/utils.js
  QualityControl/public/layout/Grid.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutListHeader.js
  QualityControl/public/layout/layoutListPage.js
  QualityControl/public/layout/layoutShowHeader.js
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/Object.js
  QualityControl/public/object/ObjectTree.class.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectPropertiesSidebar.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/view.js
Labels: Quality Control

#225 Send InfoLogger logs over named socket
  Framework/Backend/config-default.json
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/Backend/test/mocha-log.js
  Framework/docs/guide/logging.md
Labels: Backend, Framework

#226 Fix QCG color changing
  QualityControl/public/object/objectDraw.js
Labels: Quality Control

#221 Added default JWT config
  Control/config-default.js
  Control/public/view.js
  InfoLogger/config-default.js
  InfoLogger/public/log/severityUtils.js
  QualityControl/config-default.js
  QualityControl/public/Model.js
Labels: Control, InfoLogger, Quality Control
