Repository AliceO2Group/WebUi, pull requests merged in 2019-10, with the labels that each got.

#389 Fix codecov with GH Actions
  .codecov.yml
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Labels: CI

#391 Bump qcg to 1.6.3
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, Release

#392 [OGUI-410] Reset error message on page change
  Control/public/Model.js
Labels: Control, Frontend

#395 [OGUI-412] Bump JSRoot and fix audit issues
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Frontend, Quality Control, dependencies

#394 [OGUI-409] Add UI repositories refresh button
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
  Control/test/mocha-index.js
Labels: Control, Frontend

#396 [OGUI-368] Improve control testing
  Control/public/workflow/workflowsPage.js
  Control/test/mocha-index.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/public/page-status-mocha.js
Labels: Control, Frontend

#400 [OGUI-416] Run coverage on macos for QCG
  .codecov.yml
  .github/workflows/qc.yml
Labels: CI, Quality Control

#399 [OGUI-415] Fix InfoLogger Tests and increase min code coverage check
  .codecov.yml
  InfoLogger/test/live-simulator/fakeData.json
  InfoLogger/test/mocha-index.js
Labels: CI, InfoLogger

#401 [OGUI-414] Bump dependencies all
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
Labels: Control, Framework, InfoLogger, Quality Control, dependencies
