Repository AliceO2Group/WebUi, pull requests merged in 2019-05, with the labels that each got.

#276 Fix tobject2json
  QualityControl/binding.gyp
  QualityControl/lib/QCModel.js
  QualityControl/lib/TObject2JsonClient.js
  QualityControl/test/test-tobject2json.js
  QualityControl/tobject2json.cc
Labels: Backend, Quality Control

#274 OGUI-255 add new width option and fix icons
  Framework/Frontend/css/src/bootstrap.css
  Framework/docs/reference/frontend-css.html
  Framework/package-lock.json
  Framework/package.json
Labels: Framework, Frontend

#275 OGUI-257 scroll to last message
  InfoLogger/public/Model.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
Labels: Frontend, InfoLogger

#273 OGUI-255 toggle milliseconds
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/common/Timezone.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/public/logFilter/tableFilters.js
Labels: Frontend, InfoLogger

#272 OGUI-258 support sql wildcards
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/commandFilters.js
  InfoLogger/test/mocha-index.js
Labels: Frontend, InfoLogger

#278 OGUI-262 query live button colour
  InfoLogger/public/Model.js
  InfoLogger/public/constants/button-states.const.js
  InfoLogger/public/constants/mode.const.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/test/mocha-index.js
Labels: Frontend, InfoLogger

#279 OGUI-277 display user friendly instance name
  Control/protobuf/o2control.proto
  Control/public/common/showTableItem.js
Labels: Control, Frontend

#284 OGUI-296 Duplicate layout
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutShowHeader.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/mocha-index.js
Labels: Frontend, Quality Control

#285 OGUI-280 Framework Table
  Control/lib/api.js
  Control/public/common/showTableItem.js
  Control/public/common/showTableList.js
  Control/public/common/utils.js
Labels: Control, Frontend

#286 [OGUI-301] Bump to version 1.0.1
  Control/package-lock.json
  Control/package.json
Labels: Control, Frontend, Release

#287 [OGUI-308] Bump version
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: Frontend, InfoLogger, Release

#288 [OGUI-296] Bump version to 1.4.7
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Frontend, Quality Control, Release

#297 [OGUI-318] Inform user for issues reading Object
  QualityControl/public/object/Object.js
Labels: Frontend, Quality Control

#298 [OGUI-295] Add notification in case of error on list request
  QualityControl/public/object/Object.js
Labels: Frontend, Quality Control

#299 Release Control 1.0.2
  Control/package-lock.json
  Control/package.json
Labels: Control
