Repository AliceO2Group/WebUi, pull requests merged in 2019-08, with the labels that each got.

#361 [OGUI-376] Notify users to requery if filters have been changed
  .travis.yml
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/app.css
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/tableLogsScrollMap.js
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/commandFilters.js
  InfoLogger/public/logFilter/tableFilters.js
  InfoLogger/public/view.js
Labels: Frontend, InfoLogger

#362 [OGUI-377] Suggest user there are more messages
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/statusBar.js
Labels: Frontend, InfoLogger

#363 Fix node-gyp build within aliBuild python3 environment
  .travis.yml
  QualityControl/package.json
Labels: Fix, Quality Control

#366 [OGUI-386] Fix model is not function
  QualityControl/lib/api.js
  QualityControl/package-lock.json
Labels: Backend, Quality Control

#367 [OGUI-384] Selectable objects should be highlighted
  QualityControl/public/app.css
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
Labels: Frontend, Quality Control

#368 [OGUI-307] Link to an object & [OGUI-309] Enlarge Plot
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/public/view.js
  QualityControl/test/public/mocha-index.js
Labels: Frontend, Quality Control

#369 [OGUI-389] Group layouts by user and all
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/folder/Folder.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutListPage.js
Labels: Frontend, Quality Control
