Repository AliceO2Group/WebUi, pull requests merged in 2019-09, with the labels that each got.

#370 [OGUI-390] Highlight selected layout
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/layoutShowHeader.js
  QualityControl/test/public/mocha-index.js
Labels: Frontend, Quality Control

#372 [OGUI-392] Update based on new API response
  Control/package-lock.json
  Control/package.json
  Control/protobuf/o2control.proto
  Control/public/environment/newEnvironmentPage.js
  Control/public/workflow/workflowsPage.js
Labels: Control, Frontend

#375 [OGUI-297] stat does not seem to work
  .travis.yml
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectPropertiesSidebar.js
Labels: Frontend, Quality Control

#376 [OGUI-397] Add alp as default option
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/objectDraw.js
Labels: Frontend, Quality Control

#374 Migrate Travis jobs to GitHub Actions
  .codecov.yml
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/proto-sync.yml
  .github/workflows/qc.yml
  .travis.bash
  .travis.yml
  Control/test/mocha-index.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/test/public/mocha-index.js
Labels: CI

#381 [OGUI-394] Support multiple workflows
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/protobuf/o2control.proto
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/sidebar.js
  Control/public/environment/Environment.js
  Control/public/environment/newEnvironmentPage.js
  Control/public/view.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
  Control/test/mocha-index.js
Labels: Control, Frontend

#384 [OGUI-398] Remove lego option from QCModelData
  QualityControl/lib/QCModelDemo.js
  QualityControl/test/public/mocha-index.js
Labels: CI, Fix, Quality Control

#385 [OGUI-400] Check kafka configuration before initialization
  Control/lib/KafkaConnector.js
  Control/lib/api.js
  Control/test/mocha-kafka-connector.js
Labels: Backend, Control

#386 [OGUI-402] Add horizontal scroll bar table
  Control/package-lock.json
  Control/package.json
  Control/public/common/showTableList.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
Labels: Control, Frontend
