Repository AliceO2Group/WebUi, pull requests merged in 2019-07, with the labels that each got.

#337 [OGUI-280] Increase run number display
  Control/public/app.css
  Control/public/environment/environmentPage.js
Labels: Control, Frontend

#342 [OGUI-358] add browser notifications
  Control/config-default.js
  Control/index.js
  Control/lib/KafkaConnector.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/test/mocha-kafka-connector.js
  Control/test/test-config.js
Labels: Control, Frontend

#343 [OGUI-361] Add BrowserStorage class
  Framework/Frontend/js/src/BrowserStorage.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/test/mocha-index.js
  Framework/package-lock.json
  Framework/package.json
Labels: Framework, Frontend

#351 [OGUI-366] improve codecov process
  .codecov.yml
  .gitignore
  .travis.bash
  .travis.yml
  Control/.gitignore
  Control/package-lock.json
  Control/package.json
  Framework/.codecov.yml
  Framework/package.json
  InfoLogger/.gitignore
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package.json
Labels: CI, Control, Framework, InfoLogger, Quality Control

#356 [OGUI-375] Add SQL WildCards for online mode
  InfoLogger/.gitignore
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/test/mocha-index.js
Labels: Frontend, InfoLogger

#357 Fix array assert in ILG test
  InfoLogger/test/mocha-index.js
Labels: InfoLogger

#355 [OGUI-373] Add testing to SQLDataSource & Fix bug of rows returned
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/api.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-sqldatasource.js
  InfoLogger/test/test-config.js
Labels: Backend, InfoLogger

#352 [OGUI-323] display path to readout cfg
  .gitignore
  Control/.gitignore
  Control/lib/ControlProxy.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/public/common/showTableItem.js
  Control/public/common/showTableList.js
  Control/public/environment/Environment.js
  Control/public/environment/Task.js
  Control/public/environment/environmentPage.js
  Control/test/mocha-index.js
Labels: Control, Frontend

#358 [OGUI-379] Stop keydown event propagating out of input fields
  InfoLogger/public/logFilter/tableFilters.js
Labels: Frontend, InfoLogger

#359 [OGUI-378] Inform user when plots were not loaded
  Control/public/environment/environmentPage.js
Labels: Control, Frontend

#360 [OGUI-371] On focusout should reset criteria
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/tableFilters.js
  InfoLogger/test/mocha-index.js
Labels: Frontend, InfoLogger
