Repository AliceO2Group/WebUi, pull requests merged in 2019-04, with the labels that each got.

#267 Remove a test that sometimes falls into race condition
  QualityControl/test/mocha-index.js
Labels: Fix, Quality Control

#266 OGUI-271 change name of layout
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutShowHeader.js
  QualityControl/test/mocha-index.js
  QualityControl/test/mocha-json-db.js
Labels: Frontend, Quality Control

#268 OGUI-248 Glitch with long layout names
  Framework/Frontend/css/src/bootstrap.css
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/layoutShowHeader.js
Labels: Framework, Frontend, Quality Control

#270 [OGUI-248] Bump version for Framework
  Framework/package-lock.json
  Framework/package.json
Labels: Framework, Frontend, Release

#269 OGUI-271 / change name of layout
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/layout/layoutShowHeader.js
  QualityControl/test/mocha-index.js
Labels: Frontend, Quality Control
