Repository AliceO2Group/WebUi, pull requests merged in 2020-07, with the labels that each got.

#557 [OGUI-591] refactor object class & [OGUI-532] Reload object on click
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/object/view/objectViewPage.js
Labels: Quality Control

#559 Fix Lint issue
  .github/workflows/framework.yml
  Framework/Frontend/js/src/renderer.js
Labels: fix

#560 [OGUI-611] Update paths with recursive match
  .github/workflows/control.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
Labels: CI

#561 [OGUI-614] ILG Integration tests for FLP Suite
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/integration/config-provider.js
  InfoLogger/test/integration/ilg-query-tests.js
Labels: InfoLogger

#574 [OGUI-586] Profile should use columns as well
  InfoLogger/lib/api.js
  InfoLogger/public/Model.js
  InfoLogger/test/mocha-index.js
Labels: Frontend, InfoLogger

#575 [OGUI-609] keep form data new env
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Labels: Control, Frontend

#573 [OGUI-600] Remove center alignment
  Control/public/environment/environmentPage.js
Labels: Control, Frontend

#572 [OGUI-610] trim user input new env
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#571 [OGUI-608] Add waiting time after request ends
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Labels: CI, Control

#576 Bump QCG version patch 1.8.6
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#578 Fix QCG-FLP integration test
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/integration/online-mode.js
Labels: CI, Quality Control

#563 [OGUI-421] Add JIRA service to framework
  Framework/Backend/index.js
  Framework/Backend/services/jira.js
  Framework/Backend/test/mocha-jira.js
  Framework/README.md
  Framework/docs/guide/jira.md
Labels: Backend, Framework

#579 [OGUI-626] Improve revision panel
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/revisionPanel.js
Labels: Control, Frontend
