Repository AliceO2Group/WebUi, pull requests merged in 2020-06, with the labels that each got.

#539 [OGUI-574] Use text for exact match in tests
  Control/test/integration/create-new-environment.js
Labels: CI, Control

#540 Bump Framework version
  Framework/package-lock.json
  Framework/package.json
Labels: Framework, release

#524 [OGUI-555] Update release documentation
  Control/README.md
  Framework/README.md
  Framework/docs/guide/devel.md
  InfoLogger/README.md
  QualityControl/README.md
Labels: CI, Control, Framework, InfoLogger, Quality Control, documentation

#543 [OGUI-583] Add force shutdown button
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentPage.js
Labels: Control, Frontend

#544 [OGUI-577] Use set for Consul Keys
  Control/lib/ConsulConnector.js
  Control/test/lib/mocha-consul-connector.js
Labels: Backend, Control

#547 [OGUI-596] Use fix winston version
  Framework/package-lock.json
  Framework/package.json
Labels: dependencies

#548 [OGUI-596] Bump WebUI due to Winston issue
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: dependencies

#549 [OGUI-584] open log inspector on double click
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/test/mocha-index.js
Labels: Frontend, InfoLogger

#552 [OGUI-597] show less output in integration-tests
  Control/package.json
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Labels: CI, Control

#551 [OGUI-589] Add integration tests for QCG to be used in FLP CI
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/integration/config-provider.js
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
  QualityControl/test/integration/qcg-test.js
Labels: CI, Quality Control

#556 [OGUI-585] Filters set by url with profile
  InfoLogger/public/Model.js
  InfoLogger/test/mocha-index.js
Labels: Frontend, InfoLogger
