Repository AliceO2Group/WebUi, pull requests merged in 2020-04, with the labels that each got.

#491 [OGUI-367] Add checkers view
  .codecov.yml
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/demoData/checker.json
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/app.css
  QualityControl/public/layout/layoutShowPage.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/checkersPanel.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/test/public/mocha-index.js
Labels: Frontend, Quality Control

#492 Support full REST interface
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/docs/guide/http-server.md
Labels: Backend, Framework

#504 [OGUI-448] Fix small visual bugs & [OGUI-453]
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/layoutListHeader.js
  QualityControl/public/loader/spinner.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/objectTreeSidebar.js
  QualityControl/test/public/mocha-index.js
Labels: Frontend, Quality Control

#503 404 on the api router should be a JSON respone
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Labels: Backend, Framework

#505 [OGUI-528] Add hostname:* to connect-src CSP
  Framework/Backend/http/server.js
Labels: Backend

#508 [OGUI-525] Test framework breaking projects
  .github/workflows/framework.yml
Labels: CI, Framework

#509 [OGUI-529] Add deploy action
  .github/workflows/qc.yml
  .github/workflows/release-npm-module.yml
Labels: CI

#507 Bump Framework version patch 1.10.5
  Framework/package-lock.json
  Framework/package.json
Labels: Framework, release

#502 Added listen, close and address method
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-ws.js
  Framework/docs/guide/http-server.md
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, Framework, breaking

#513 Bump Framework minor: 1.11.0
  Framework/package-lock.json
  Framework/package.json
Labels: Framework, release

#510 [OGUI-530] Add flp selector panel
  Control/config-default.js
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/lib/utils.js
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/flpSelectionPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/lib/mocha-control-service.js
  Control/test/lib/mocha-utils.js
  Control/test/public/page-configuration-mocha.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
  codecov.yml
Labels: Backend, Control, Frontend

#518 [OGUI-550] && [OGUI-547] Use prefix on ccdb queries
  QualityControl/config-default.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/ObjectTree.class.js
  QualityControl/test/lib/mocha-ccdb-connector.js
  QualityControl/test/public/mocha-index.js
  QualityControl/test/test-config.js
Labels: Backend, Quality Control
