Repository AliceO2Group/WebUi, pull requests merged in 2020-09, with the labels that each got.

#597 [OGUI-659] Add Trigger radio buttons for env KV panel
  Control/public/workflow/Workflow.js
  Control/public/workflow/envVarsPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#599 [OGUI-657] add data distribution option
  Control/public/workflow/envVarsPanel.js
Labels: Control, Frontend

#600 [OGUI-658] add epn selection
  Control/public/workflow/Workflow.js
  Control/public/workflow/envVarsPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#601 [OGUI-648] default to select all flps
  Control/public/workflow/Workflow.js
  Control/public/workflow/flpSelectionPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#596 [OGUI-660] Fix default repo revision
  Control/public/workflow/Workflow.js
  Control/test/mocha-index.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#603 [OGUI-661] Add Readout URI input field
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/envVarsPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#602 [OGUI-627] from about to status page
  Control/lib/api.js
  Control/lib/control-core/ControlProxy.js
  Control/lib/control-core/ControlService.js
  Control/public/Model.js
  Control/public/frameworkinfo/FrameworkInfo.js
  Control/public/frameworkinfo/frameworkInfoPage.js
  Control/test/lib/mocha-control-service.js
  Control/test/public/page-about-mocha.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
Labels: Backend, Control, Frontend

#604 [OGUI-652] update it tests with new config
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Labels: CI

#605 [OGUI-662] Improve QC FLP IT by waiting for request to finish
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/test/integration/config-provider.js
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
  QualityControl/test/integration/qcg-test.js
  QualityControl/test/integration/utils.js
Labels: CI, Frontend, Quality Control

#606 [OGUI-663] readout path not kept
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/envVarsPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#607 [OGUI-663] readout path should be removed after input text is emptied
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/envVarsPanel.js
Labels: Control, Frontend

#608 [OGUI-663] File prefix would merge when using Adv
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Labels: Control, Frontend

#611 [OGUI-671] Add QCDD toggle
  Control/public/workflow/envVarsPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#612 [OGUI-667] Log all non-Get Control actions handled by ControlProxy
  Control/lib/control-core/ControlService.js
  Control/test/lib/mocha-control-service.js
Labels: Control

#610 [OGUI-672] Add toggle selection for all FLPs
  Control/package-lock.json
  Control/package.json
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/flpSelectionPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#613 [OGUI-656] Remove args column
  Control/public/environment/environmentPage.js
Labels: Control, Frontend
