Repository AliceO2Group/WebUi, pull requests merged in 2020-10, with the labels that each got.

#614 [OGUI-668] Pass access level to session service
  Framework/Backend/http/server.js
  Framework/Frontend/js/src/sessionService.js
  Framework/Frontend/test/mocha-index.js
Labels: Backend, Frontend

#616 [OGUI-637] sqlite connector in framework
  Framework/Backend/db/sqlite.connector.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-sqlite.connector.js
  Framework/README.md
  Framework/docs/guide/sqlite.md
  Framework/package-lock.json
  Framework/package.json
Labels: Control, Frontend

#617 [OGUI-676] UX improvements
  Control/public/workflow/Workflow.js
  Control/public/workflow/envVarsPanel.js
  Control/public/workflow/revisionPanel.js
  Control/public/workflow/workflowsPage.js
Labels: Control, Frontend

#618 [OGUI-647] improve object selection UX
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
Labels: Frontend, Quality Control

#619 [OGUI-540] Change behaviour to close tree only
  QualityControl/public/object/objectTreeHeader.js
Labels: Frontend, Quality Control

#620 [OGUI-667] Install mithril using npm
  Framework/.gitignore
  Framework/Frontend/js/lib/mithril.js
  Framework/Frontend/js/src/renderer.js
  Framework/package-lock.json
  Framework/package.json
Labels: Frontend

#622 [OGUI-673] add limit header to certain ccdb requests
  QualityControl/lib/CCDBConnector.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/lib/mocha-ccdb-connector.js
Labels: Backend, Quality Control

#621 [OGUI-653] & [OGUI-651]
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/logFilter/commandFilters.js
Labels: Frontend, InfoLogger

#623 [OGUI-678] Bump JSRoot
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, dependencies

#625 [OGUI-679] Bump framework deps
  .eslintrc.js
  Framework/Frontend/js/src/renderer.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend

#627 [OGUI-681] Convert QCG About Page to Status Page
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/StatusService.js
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/frameworkInfo/frameworkInfoPage.js
  QualityControl/test/lib/mocha-status-service.js
  QualityControl/test/public/mocha-index.js
Labels: Backend, Frontend, Quality Control

#629 [OGUI-686] Fix passing log messages to InfoLogger
  Framework/Backend/config-default.json
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/docs/guide/logging.md
Labels: Backend
