Repository AliceO2Group/WebUi, pull requests merged in 2020-11, with the labels that each got.

#631 [OGUI-701] Improve Readout Variable Configuration Panel
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/envVarsPanel.js
  Control/public/workflow/flpSelectionPanel.js
Labels: Control, Frontend, fix

#632 [OGUI-703] Build consul-ini for readout cfg field
  Control/config-default.js
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/flpSelectionPanel.js
  Control/public/workflow/variablePanels/advancedPanel.js
  Control/public/workflow/variablePanels/basicPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
Labels: Backend, Control, Frontend

#633 [OGUI-698] Optionally set OpenID timeout in config file
  Framework/Backend/http/openid.js
  Framework/docs/guide/openid.md
Labels: Backend

#634 [OGUI-706] Use force shutdown button in FLP CI
  Control/test/integration/control-environment.js
Labels: CI, Control

#635 [OGUI-704] use pupeteer wait for timeout
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-new-environment-mocha.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/integration/ilg-query-tests.js
  InfoLogger/test/mocha-index.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
  QualityControl/test/integration/utils.js
  QualityControl/test/public/mocha-index.js
Labels: CI, Control, InfoLogger, Quality Control

#636 [OGUI-702] add qc config uri
  Control/lib/ConsulConnector.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/constants.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/public/workflow/panels/revision/revisionPanel.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/test-config.js
Labels: Backend, Control, Frontend

#637 [OGUI-705] Improve show of user vars
  Control/public/app.css
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
Labels: Control, Frontend

#638 [OGUI-707] update selector paths
  Control/package-lock.json
  Control/package.json
  Control/test/integration/create-new-environment.js
Labels: CI, Control

#639 [OGUI-709] Add consul transactions
  Framework/Backend/services/consul.service.js
  Framework/Backend/test/mocha-consul.service.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, Framework

#643 [OGUI-685] Fix undefined if list is reloading
  QualityControl/public/object/objectTreePage.js
Labels: Frontend, Quality Control

#642 [OGUI-674] Disable search box while quering objects
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
Labels: Frontend, Quality Control

#641 [OGUI-694] Remove error from user messages
  QualityControl/public/object/QCObject.js
Labels: Frontend, Quality Control

#645 [OGUI-714] Improve QCG FLP if there are duplicated names
  QualityControl/test/integration/offline-mode.js
  QualityControl/test/integration/online-mode.js
Labels: CI, Quality Control

#644 [OGUI-713] Verify preselected hosts are still valid
  Control/public/workflow/Workflow.js
Labels: Control, Frontend

#646 [OGUI-708] improve configuration consul fields
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/revision/revisionPanel.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#647 [OGUI-684] cru links configuration panel
  .github/workflows/release.yml
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/loading.js
  Control/public/common/sidebar.js
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/configPage.js
  Control/public/view.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/mocha-index.js
Labels: Backend, Control, Frontend

#650 [OGUI-735] Allow gPRC connection timeout to be configured
  Control/lib/control-core/ControlProxy.js
  Control/package-lock.json
  Control/package.json
Labels: Backend, Control
