Repository AliceO2Group/WebUi, pull requests merged in 2021-02, with the labels that each got.

#680 [OGUI-665] Add button to each task to redirect to Mesos
  Control/public/app.css
  Control/public/common/showTableItem.js
  Control/public/common/utils.js
  Control/public/environment/Environment.js
  Control/public/environment/Task.js
  Control/public/environment/controlEnvironmentPanel.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Labels: Control, Frontend

#685 [version] Bump minor version 1.13.0
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#684 [OGUI-774] Adds Clean All Resources Functionality
  Control/README.md
  Control/lib/ConsulConnector.js
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/lib/utils.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Labels: Backend, Control, Frontend

#686 [OGUI-784] Fix IT
  Control/package-lock.json
  Control/package.json
  Control/public/environment/controlEnvironmentPanel.js
  Control/test/integration/control-environment.js
  Control/test/public/page-about-mocha.js
  Control/test/public/page-configuration-mocha.js
Labels: Control, fix

#689 [OGUI-792] Add FLP count to env details page
  Control/public/environment/environmentPage.js
  Control/test/mocha-index.js
Labels: Control, Frontend

#690 [OGUI-788] Bring back shutdown and add kill buttons
  Control/public/environment/controlEnvironmentPanel.js
Labels: Control, Frontend
