Repository AliceO2Group/WebUi, pull requests merged in 2021-03, with the labels that each got.

#692 Toggle autoscroll together with Live mode
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/statusBar.js
Labels: Frontend, InfoLogger

#693 Add DPL Minimal workflow panel
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/integration/control-environment.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#695 [OGUI-793] Remove outdated trigger option
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#682 [OGUI-775] Work LGTM recommendations
  Control/public/workflow/Workflow.js
  Framework/Backend/jwt/token.js
  Framework/Backend/log/InfoLoggerSender.js
  QualityControl/lib/StatusService.js
  QualityControl/public/layout/Grid.js
Labels: Frontend, Quality Control

#696 [OGUI-799] Enhance the Log library to allow for more fields to be set
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/Log.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend

#697 Feature/frm/og UI 799 configurable infologger fields
  Framework/Backend/log/Log.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend

#699 [OGUI-799] improve facility for log messages in Framework
  Framework/Backend/db/mysql.js
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/services/consul.service.js
  Framework/Backend/services/jira.js
  Framework/Backend/test/mocha-consul.service.js
  Framework/Backend/test/mocha-jira.js
  Framework/Backend/test/mocha-mysql.js
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, Framework

#698 [OGUI-801] Set level and facility for log messages
  Control/lib/ConsulConnector.js
  Control/lib/KafkaConnector.js
  Control/lib/Padlock.js
  Control/lib/api.js
  Control/lib/configProvider.js
  Control/lib/control-core/ControlProxy.js
  Control/lib/control-core/ControlService.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/mocha-consul-connector.js
Labels: Backend, Control

#701 [OGUI-802] Set level and facility for log messages sent to InfoLogger DB
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/lib/configProvider.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-json-db.js
  InfoLogger/test/mocha-index.js
  InfoLogger/test/public/live-mode-mocha.js
  InfoLogger/test/public/log-filter-actions-mocha.js
  InfoLogger/test/public/query-mode-mocha.js
  InfoLogger/test/public/user-actions-mocha.js
  InfoLogger/test/public/utils-mocha.js
Labels: Backend, InfoLogger

#700 [OGUI-792] Use numberOfFlps field instead of defaults
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentPage.js
  Control/test/mocha-index.js
Labels: Backend, Control

#703 [OGUI-804] Fix mesos typo in task details table
  Control/public/environment/Task.js
  Control/public/environment/environmentPage.js
Labels: Control, Frontend

#704 [OGUI-794] Add retry to bad MySQL Connections
  InfoLogger/config-default.js
  InfoLogger/lib/api.js
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/test/public/live-mode-mocha.js
Labels: Backend, Frontend, InfoLogger

#705 [OGUI-721] migrate to new js root
  .github/workflows/qc.yml
  .github/workflows/release.yml
  QualityControl/binding.gyp
  QualityControl/config-default.js
  QualityControl/export.js
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/TObject2JsonClient.js
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/public/mocha-index.js
  QualityControl/tobject2json.cc
  QualityControl/zstd/zstd/zstd-codec.min.js
Labels: Backend, Frontend, Quality Control

#708 Use minimal_dpl_enabled variable when creating env
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, fix

#710 [OGUI-816] Increase query waiting time
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/integration/config-provider.js
  InfoLogger/test/integration/ilg-query-tests.js
Labels: CI

#709 [OGUI-721] migrate to new js root
  QualityControl/public/Model.js
  QualityControl/public/index.html
Labels: Backend, Quality Control

#706 [OGUI-811] Update readme
  QualityControl/README.md
Labels: Quality Control, documentation
