Repository AliceO2Group/WebUi, pull requests merged in 2021-08, with the labels that each got.

#806 Upload release TARballs to S3
  .github/workflows/release.yml
Labels: CI

#807 [OGUI-925] Add switch toggle
  Framework/Frontend/css/src/bootstrap.css
  Framework/docs/reference/frontend-css.html
Labels: Frontend

#808 [OGUI-923] Improve logging on framework services
  Framework/Backend/db/mysql.js
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/services/consul.service.js
  Framework/Backend/services/jira.js
  Framework/Backend/test/mocha-consul.service.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-jira.js
  Framework/Backend/test/mocha-log.js
  Framework/Backend/test/mocha-mysql.js
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, Framework

#809 [OGUI-452] Add option to receive only error message
  Framework/Frontend/js/src/Loader.js
  Framework/docs/guide/async-calls.md
Labels: Framework, Frontend

#810 [OGUI-560] Make git checkout with LF even on windows
  Framework/.gitattributes
Labels: CI

#804 [OGUI-566] Custom configuration panel built via varSpecMap
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/constants.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/panels/variables/components.js
  Control/public/workflow/panels/variables/mainPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/utils/custom-template-variables.js
Labels: Control, Frontend

#816 [OGUI-904] Refresh task list content
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/public/Model.js
  Control/public/task/Task.js
  Control/test/mocha-index.js
  Control/test/public/page-tasks-mocha.js
Labels: Backend, Control, Frontend

#817 [OGUI-923] Updates Log Facility and messages for InfoLogger
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/lib/configProvider.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-json-db.js
Labels: Backend, InfoLogger

#818 [OGUI-923] Update log label which is sent as facility
  QualityControl/index.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/StatusService.js
  QualityControl/lib/api.js
  QualityControl/lib/config/configProvider.js
  QualityControl/lib/services/LayoutService.js
  QualityControl/lib/services/UserService.js
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Backend, Quality Control

#819 Update tests for new IT Panel
  Control/test/integration/create-new-environment.js
Labels: CI, Control

#823 [OGUI-930] Add detector info on env, envs, newEnv pages
  Control/lib/config/publicConfigProvider.js
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/test/mocha-index.js
  Control/test/public/page-environments-mocha.js
Labels: Frontend, Backend, Control

#826 [OGUI-897] Options for the users to download logs as file
  InfoLogger/README.md
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/constants/visual.const.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/tableLogsContent.js
Labels: Frontend, InfoLogger

#834 [OGUI-888] Build consul configuration only once and use it across platform
  Control/README.md
  Control/config-default.js
  Control/lib/api.js
  Control/lib/config/publicConfigProvider.js
  Control/lib/connectors/ConsulConnector.js
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/Configuration.js
  Control/public/environment/environmentPage.js
  Control/public/frameworkinfo/FrameworkInfo.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/lib/mocha-consul-connector.js
  Control/test/mocha-index.js
  Control/test/public/page-configuration-mocha.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
Labels: Frontend, Backend, Control

#835 [OGUI-945] Add consul middleware
  Control/lib/api.js
  Control/lib/connectors/ConsulConnector.js
  Control/test/lib/mocha-consul-connector.js
Labels: Backend, Control

#836 [OGUI-942] Save/Load scroll position on task page
  Control/public/task/Task.js
  Control/public/task/taskPage.js
Labels: Frontend, Control

#837 [OGUI-777] Proportionate column sizes
  Control/public/environment/environmentPage.js
  Control/public/task/taskPage.js
Labels: Frontend, Control

#839 [OGUI-933] Merge imported configuration into dynamic panels
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/panels/variables/mainPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Control
