Repository AliceO2Group/WebUi, pull requests merged in 2021-11, with the labels that each got.

#919 [OGUI-851] Tab selection changes saved objects order
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/layout/Layout.js
Labels: Frontend, Quality Control, fix

#921 [OGUI-1023] Use arrow method in ws server for log
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, fix

#920 [OGUI-978] Sort layouts alphabetically on the client side
  QualityControl/lib/QCModelDemo.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/mocha-index.js
Labels: Frontend, Quality Control

#922 [OGUI-1023] Bump webui in COG & ILG
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: Control, InfoLogger, dependencies

#923 [OGUI-1025] Toggle selection of hosts via detector checkbox
  Control/package-lock.json
  Control/package.json
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/Configuration.js
  Control/public/configuration/configPage.js
  Control/public/configuration/configurationPage.js
Labels: Frontend, Control

#924 [OGUI-992] Add UserLogic toggles for detectors and hosts
  Control/README.md
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components.js
  Control/public/configuration/configPage.js
Labels: Frontend, Control

#925 [OGUI-992] Toggle All Links selection via Host or Detector
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components.js
  Control/public/configuration/components/allLinksCheckBox.js
  Control/public/configuration/components/linkCheckBox.js
  Control/public/configuration/components/userLogicCheckBox.js
  Control/public/configuration/configPage.js
Labels: Frontend, Control

#931 [OGUI-1027] Do not query total available log count
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/test/lib/mocha-sqldatasource.js
Labels: Backend, InfoLogger

#930 [OGUI-977] Fix type in Download button
  InfoLogger/public/log/commandLogs.js
Labels: Frontend, InfoLogger

#928 [OGUI-965] Display MySQL query as debug log and increase default pool params
  Framework/Backend/db/mysql.js
Labels: Backend, Framework

#933 [OGUI-1030] Query logs with LIKE only when wildcard is present in filter
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-sqldatasource.js
Labels: Frontend, InfoLogger

#934 [OGUI-1032] Display first matching logs
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/test/lib/mocha-sqldatasource.js
Labels: Backend, InfoLogger

#942 [OGUI-1028] Place canvas in div for safari
  InfoLogger/public/log/tableLogsScrollMap.js
Labels: Frontend

#943 [OGUI-1035] Do not pass organisation ID in Grafana dashboard URL
  Control/lib/config/publicConfigProvider.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
  Framework/Backend/http/server.js
Labels: Backend, Control

#948 [OGUI-1036] Rename Grafana dashboards to match conventions
  Control/lib/config/publicConfigProvider.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Labels: Backend, Control

#949 Bump COG patch version
  Control/package-lock.json
  Control/package.json
Labels: release

#953 [OGUI-1033] Display notification if live-start has issues
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/test/public/live-mode-mocha.js
Labels: Frontend, InfoLogger

#962 [OGUI-1043] Add consul protocol and default value for it
  Control/lib/config/publicConfigProvider.js
  Control/package-lock.json
  Control/package.json
  Control/public/configuration/ConfigByCru.js
  Control/test/mocha-index.js
Labels: Frontend, Backend, Control
