Repository AliceO2Group/WebUi, pull requests merged in 2021-12, with the labels that each got.

#963 [OGUI-1050] Use textarea for values in adv config panel
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Control

#965 [OGUI-1048] Standardize auto environments
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/public/Model.js
  Control/public/configuration/ConfigByCru.js
  Control/public/task/Task.js
  Control/public/task/content.js
Labels: Frontend, Backend, Control

#966 [OGUI-1026] & [OGUI-1053] Update ILG redirects to use full URL and add filters
  Control/lib/config/publicConfigProvider.js
  Control/public/configuration/configPage.js
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentPage.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Labels: Frontend, Backend, Control

#968 [OGUI-1051] Adds option to search throught the configuration list
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/advancedPanel.js
Labels: Frontend, Control

#967 [OGUI-1052] Allow passing force flag on cru config
  Control/lib/control-core/ControlService.js
  Control/package-lock.json
  Control/package.json
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components/userLogicCheckBox.js
  Control/public/configuration/configPage.js
Labels: Frontend, Backend, Control

#975 [OGUI-1055] Add status route to ILG
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-status-service.js
Labels: Backend, InfoLogger

#976 Revert ILG bump
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: InfoLogger, release

#974 [OGUI-1055] Add status route to be used in FLP diagnose
  QualityControl/lib/StatusService.js
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/lib/mocha-status-service.js
Labels: Backend, Quality Control

#977 [OGUI-851] Revert changes which broke adding objects to layout
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/layout/Layout.js
Labels: Frontend, Quality Control

#979 [OGUI-1057] Fix exclude with multiple space-delimited values
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/lib/mocha-sqldatasource.js
Labels: Backend, InfoLogger
