Repository AliceO2Group/WebUi, pull requests merged in 2021-06, with the labels that each got.

#768 [OGUI-872] Add full name to JWT token
  Control/test/integration/core-tests.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-new-environment-mocha.js
  Framework/Backend/http/server.js
  Framework/Backend/jwt/token.js
  Framework/Backend/test/mocha-jwt.js
  Framework/docs/guide/json-tokens.md
  Framework/package-lock.json
  Framework/package.json
Labels: Backend

#770 [OGUI-872] Hide username param
  Framework/Frontend/js/src/sessionService.js
  Framework/package-lock.json
  Framework/package.json
Labels: Framework

#771 [OGUI-872] Bump webui dep across projects
  Control/package-lock.json
  Control/package.json
  Control/test/public/page-environments-mocha.js
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Control, InfoLogger, Quality Control, dependencies

#772 [OGUI-873] display custom objects
  QualityControl/README.md
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/objectDraw.js
Labels: Frontend, Quality Control

#769 [OGUI-870] Add vars and defaults to environment details table
  Control/public/environment/Environment.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/expandableEnvRows.js
  Control/public/environment/environmentPage.js
Labels: Control, Frontend

#778 Fix JWT missing username in session service
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, Quality Control, fix

#779 [OGUI-872] Bump QCG & webui versions
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: dependencies, fix

#780 [OGUI-876] unable to plot normal objects
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/objectDraw.js
Labels: Frontend, Quality Control, fix

#782 Bump webui dependency
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: InfoLogger, dependencies

#781 [OGUI-874] Save logged in users
  QualityControl/README.md
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/services/LayoutService.js
  QualityControl/lib/services/UserService.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/test/lib/mocha-json-db.js
  QualityControl/test/lib/mocha-layout-service.js
  QualityControl/test/lib/mocha-user-service.js
Labels: Backend, Frontend, Quality Control

#785 COG fix tests
  .github/workflows/control.yml
  Control/package-lock.json
  Control/package.json
  Control/test/integration/core-tests.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, fix

#787 [OGUI-878] Add UserLogic toggles for Configuration
  Control/package-lock.json
  Control/package.json
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/configPage.js
Labels: Control, Frontend

#790 [OGUI-866] Basic config labels toggle
  Control/public/workflow/panels/variables/basicPanel.js
Labels: Control, Frontend

#789 [OGUI-875] Save only editable fields in config store
  Control/lib/connectors/ConsulConnector.js
  Control/public/configuration/configPage.js
  Control/test/lib/mocha-consul-connector.js
Labels: Backend, Control

#791 [OGUI-884] Details button should be enabled all time
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentsPage.js
Labels: Control, Frontend

#792 [OGUI-889] Add focus on key field after adding KV pair
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#793 [OGUI-883] On demand full task info details
  Control/public/environment/Environment.js
  Control/public/environment/Task.js
Labels: Control, Frontend
