Repository AliceO2Group/WebUi, pull requests merged in 2021-09, with the labels that each got.

#841 [OGUI-948] Integrate Apricot using grpc
  .github/workflows/apricot-proto-sync.yml
  Control/README.md
  Control/config-default.js
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlProxy.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/CoreUtils.js
  Control/lib/control-core/GrpcProxy.js
  Control/package-lock.json
  Control/package.json
  Control/protobuf/o2apricot.proto
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
  Control/test/lib/mocha-apricot-service.js
  Control/test/lib/mocha-control-service.js
  Control/test/lib/mocha-core-utils.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Labels: Backend, Control

#840 [OGUI-928] Add midleware to AliECS Core related API calls
  Control/lib/api.js
  Control/lib/connectors/ConsulConnector.js
  Control/lib/control-core/ControlService.js
  Control/lib/services/StatusService.js
  Control/test/lib/mocha-control-service.js
Labels: Backend, Control

#843 [OGUI-932] Bundle save and configure CRUs
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/configPage.js
Labels: Frontend, Control

#842 [OGUI-919] Detector selection panel for new environment
  Control/lib/config/publicConfigProvider.js
  Control/public/app.css
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/flps/detectorsPanel.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
  Control/test/integration/create-new-environment.js
  Control/test/mocha-index.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
Labels: Frontend, Control

#845 [OGUI-947] Panels should have ability to hide
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/mainPanel.js
Labels: Frontend, Control

#846 [OGUI-950] Fix FLP Integration-Tests
  Control/package-lock.json
  Control/package.json
  Control/test/integration/create-new-environment.js
Labels: Control, fix

#851 [OGUI-955] Add details on tasks page clean actions
  Control/public/task/taskPage.js
Labels: Frontend, Control

#853 [OGUI-956] Fix issue in which big configuration actions would fail
  Control/config-default.js
  Control/package-lock.json
  Control/package.json
  Control/public/configuration/ConfigByCru.js
Labels: Frontend, Backend, Control

#857 [OGUI-957] Add option to save configuration on new env
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/utils.js
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
  Control/test/config/apricot-grpc.js
  Control/test/integration/create-new-environment.js
  Control/test/lib/mocha-apricot-service.js
  Control/test/mocha-index.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Backend, Control

#858 [OGUI-961] Update forgotten variable from refactoring
  Control/public/workflow/panels/variables/basicPanel.js
Labels: Frontend, Control, fix

#859 [OGUI-958] Add panel to allow the user load configurations from apricot
  Control/lib/control-core/ApricotService.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/panels/variables/mainPanel.js
  Control/test/lib/mocha-apricot-service.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Backend, Control

#860 [OGUI-963] Add refresh interval for envs table
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/public/Model.js
  Control/public/task/Task.js
  Control/test/mocha-index.js
Labels: Frontend, Control

#862 [OGUI-959] Fill in detectors and host from saved config
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/flps/FlpSelection.js
  Control/public/workflow/panels/flps/detectorsPanel.js
  Control/public/workflow/panels/variables/advancedPanel.js
Labels: Frontend, Control

#863 Make status/core/services route public
  Control/lib/api.js
Labels: Backend

#872 [OMON-487] Add hidden option to modify frame-src CSP
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend

#873 [OMON-487] Embed Grafana plots from different origin
  Control/config-default.js
  Control/index.js
  Control/lib/config/publicConfigProvider.js
  Control/lib/services/StatusService.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/mocha-public-config.js
  Control/test/lib/mocha-status-service.js
  Control/test/test-config.js
Labels: Backend, Control

#875 [OGUI-954] Adds detector view and panel to allow selection by the user
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/detectorHeader.js
  Control/public/common/detectorModal.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/services/DetectorService.js
  Control/public/view.js
  Control/public/workflow/constants.js
  Control/public/workflow/workflowsPage.js
  Control/test/integration/core-tests.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Labels: Frontend, Control
