Repository AliceO2Group/WebUi, pull requests merged in 2021-04, with the labels that each got.

#716 [OGUI-824] Remove JSROOT parsing due to infinite recursion
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/QCObject.js
Labels: Frontend, Quality Control

#718 [OGUI-814] Update fields used by CCDB requests
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/test/lib/mocha-ccdb-connector.js
  QualityControl/test/public/mocha-index.js
Labels: Backend, Quality Control

#707 [OGUI-803] Update facility of the logs
  QualityControl/index.js
  QualityControl/lib/CCDBConnector.js
  QualityControl/lib/JsonFileConnector.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/configProvider.js
  QualityControl/lib/connector/LayoutConnector.js
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Backend, Quality Control

#717 [OGUI-813] Remove shutdown button from env list page
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Labels: Control, Frontend

#719 [OGUI-823] Add panel in environment page with selected user vars
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/test/mocha-index.js
Labels: Control, Frontend

#722 [OGUI-826] Bump JSROOT; QCG Versions
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, dependencies

#724 [OGUI-828] Adapt InfoLogger filepath to new conventions
  Framework/Backend/log/InfoLoggerSender.js
Labels: Backend, Framework, breaking

#725 [OGUI-828] Bump framework minor version
  Framework/package-lock.json
  Framework/package.json
Labels: Framework, release

#726 [OGUI-828] Bump WebUI version across UIs
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Control, InfoLogger, Quality Control, dependencies

#727 [OGUI-829] Pass run variable to Grafana when loading environment monitoring panels
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentPage.js
Labels: Control

#728 [OGUI-830] Add DCS to basic config panel
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#729 [OGUI-832] Add button for dd scheduler
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, Frontend

#731 [O2-2245] Bump NodeJS version
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/release.yml
  Control/README.md
  Framework/README.md
  InfoLogger/README.md
  InfoLogger/test/lib/mocha-json-db.js
  QualityControl/README.md
  QualityControl/test/lib/mocha-json-db.js
Labels: CI, InfoLogger, Quality Control

#732 [OGUI-810] Load public configuration with index page
  QualityControl/.gitignore
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/config/configProvider.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/mocha-public-config.js
  QualityControl/test/lib/mocha-status-service.js
  QualityControl/test/public/mocha-index.js
  QualityControl/test/test-config.js
Labels: Backend, Frontend, Quality Control

#733 [OGUI-741] Configurable refresh rate
  .eslintrc.js
  QualityControl/config-default.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/common/sidebar.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/public/mocha-index.js
Labels: Backend, Quality Control

#734 [OGUI-835] Consul Request should not be done if service is not confgured
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/mocha-index.js
Labels: Frontend, Quality Control

#737 [OGUI-838] Update eslint across projects
  Control/lib/ConsulConnector.js
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: Backend, CI, Control, InfoLogger, fix

#738 [OGUI-843] Load public config in index page
  Control/.gitignore
  Control/index.js
  Control/lib/api.js
  Control/lib/config/configProvider.js
  Control/lib/config/publicConfigProvider.js
  Control/package-lock.json
  Control/package.json
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/index.html
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Labels: Backend, Control, Frontend
