Repository AliceO2Group/WebUi, pull requests merged in 2022-03, with the labels that each got.

#1138 [OGUI-1100] Enable create button if workflow is QC
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/workflowsPage.js
Labels: Frontend, Control, fix

#1144 [OGUI-1099] Display consul URL with its UI node
  Control/README.md
  Control/config-default.js
  Control/lib/config/publicConfigProvider.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Labels: Frontend, Control

#1145 [OGUI-1101] Fix undefined user id in layout API
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
Labels: Frontend, Quality Control

#1146 [OGUI-1102] Disable autoscroll when user presses key to navigate logs
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/public/log/tableLogsContent.js
Labels: Frontend, InfoLogger

#1147 [OGUI-1103] Update stats box on log length limit change
  InfoLogger/public/log/Log.js
Labels: Frontend, InfoLogger

#1149 Release ILG 1.10.0
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: InfoLogger, release

#1153 [OGUI-1069] Use new Notification Service from framework
  Control/README.md
  Control/lib/api.js
  Control/lib/services/StatusService.js
  Control/package-lock.json
  Control/package.json
  Control/public/frameworkinfo/FrameworkInfo.js
  Control/test/lib/mocha-status-service.js
  Control/test/public/page-about-mocha.js
Labels: Control

#1166 [OGUI-1110] Use ccdb to get object location
  QualityControl/README.md
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/utils.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/controllers/mocha-object.test.js
  QualityControl/test/lib/mocha-utils.test.js
  QualityControl/test/lib/services/mocha-ccdb.test.js
Labels: Backend, Quality Control

#1170 [OGUI-1107] Restrict cleanup operations to admin only
  Control/package-lock.json
  Control/package.json
  Control/public/task/header.js
Labels: Frontend, Control

#1169 [OGUI-1113] Small UX improvements for detector/host selection
  Control/public/workflow/panels/flps/detectorsPanel.js
  Control/public/workflow/panels/flps/flpSelectionPanel.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Control

#1172 [OGUI-1109] Add lcolz drawing option
  QualityControl/public/object/objectPropertiesSidebar.js
Labels: Frontend, Quality Control

#1165 [OGUI-1112] Display list of create env requests
  Control/lib/api.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentsPage.js
  Control/public/workflow/Workflow.js
  Control/test/lib/mocha-request-handler.js
  Control/test/public/page-new-environment-mocha.js
Labels: Backend, Control

#1176 [OGUI-1115] Cache env list and use WS for updates
  Control/lib/api.js
  Control/lib/config/publicConfigProvider.js
  Control/lib/control-core/EnvCache.js
  Control/lib/control-core/RequestHandler.js
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentsPage.js
  Control/test/config/core-grpc.js
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
  Control/test/lib/mocha-env-cache.js
  Control/test/mocha-index.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-new-environment-mocha.js
  Control/test/test-config.js
Labels: Control

#1182 [OGUI-1120] Adapt to timestamp changes in Core API
  Control/lib/control-core/GrpcProxy.js
  Control/package-lock.json
  Control/package.json
  Control/public/common/utils.js
  Control/public/environment/environmentPage.js
  Control/test/config/core-grpc.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Backend, Control

#1183 [OGUI-1121] Wait for Environment to be in configured state in FLP ITs
  Control/package-lock.json
  Control/package.json
  Control/test/integration/control-environment.js
  Control/test/integration/create-new-environment.js
Labels: Control, release, fix

#1191 [OGUI-1123] Visual improvements to envs table
  Control/public/environment/environmentsPage.js
Labels: Frontend, Control

#1192 [OGUI-1126] Make sure to release lock after integration tests
  Control/test/integration/control-environment.js
Labels: Control

#1193 [OGUI-1126] Make sure create env request fails in test
  Control/test/public/page-environments-mocha.js
Labels: Control

#1186 [OGUI-1080] Modify Grafana plots in environment detail page
  Control/lib/config/publicConfigProvider.js
  Control/public/environment/environmentPage.js
  Control/test/lib/mocha-public-config.js
  Control/test/mocha-index.js
Labels: Frontend, Control

#1194 Bump release version and framework in Control
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#1196 [OGUI-1128] Trim user inputed values for configuring env
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Control

#1198 [OGUI-1122] Add '/' to both displayed and passed values of consul URIs
  Control/lib/config/publicConfigProvider.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/test/mocha-index.js
Labels: Frontend, Control

#1200 [OGUI-1133] Dispaly description on hover of info template
  Control/public/workflow/Workflow.js
  Control/public/workflow/workflowsPage.js
  Control/test/config/core-grpc.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Control

#1201 Bump minor version of AliECS GUI
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#1202 Bump patch version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release
