Repository AliceO2Group/WebUi, pull requests merged in 2022-01, with the labels that each got.

#1003 [OGUI-1062] Status service should treat 301 as successful response
  Control/lib/services/StatusService.js
  Control/package-lock.json
  Control/package.json
Labels: Backend, Control

#1009 [OGUI-1065] Update logic behing topology display
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Control/public/common/utils.js
Labels: Frontend, Control

#1010 [OGUI-1066] Update dependencies on AliECE GUI project and workflows
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/control.yml
  .github/workflows/release.yml
  Control/package-lock.json
  Control/package.json
  Control/test/lib/mocha-apricot-service.js
Labels: dependencies

#1012 [OGUI-988] Add new page to display detectors with their FLPs
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/sidebar.js
  Control/public/hardware/hardwarePage.js
  Control/public/view.js
  Control/test/mocha-index.js
  Control/test/public/page-hardware-mocha.js
Labels: Frontend, release

#1014 [OGUI-1066] Update ilg dependencies and workflows
  .github/dependabot.yml
  .github/workflows/infologger.yml
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: InfoLogger, dependencies

#1024 [OGUI-1058] Fixes bug in which KV with empty value would not be removed from Adv Config Panel
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Labels: Frontend, Control

#1036 [OGUI-1067] Add aliases to CRU Configuration page
  Control/config-default.js
  Control/lib/api.js
  Control/lib/config/publicConfigProvider.js
  Control/lib/connectors/ConsulConnector.js
  Control/lib/utils.js
  Control/public/Model.js
  Control/public/configuration/ConfigByCru.js
  Control/public/configuration/components/linkCheckBox.js
  Control/public/configuration/configPage.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Labels: Frontend, Backend, Control

#1042 [OGUI-1072] Bump actions versions for ControlGUI
  .github/workflows/control.yml
Labels: Control, dependencies

#1043 [OGUI-1072] Update actions versions for Framework
  .github/workflows/framework.yml
Labels: Framework, dependencies

#1044 [OGUI-1072] Update GH Actions versions for QC
  .github/workflows/qc.yml
Labels: Quality Control, dependencies

#1045 [OGUI-1072] Update GH Actions versions for ILG
  .github/workflows/infologger.yml
Labels: InfoLogger, dependencies
