Repository AliceO2Group/WebUi, pull requests merged in 2022-02, with the labels that each got.

#1058 [OGUI-1074] Parse ID in case is string
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: release, Framework

#1059 [OGUI-1074] Bump critical dependencies of AliECS GUI
  Control/package-lock.json
  Control/package.json
Labels: Control, release, dependencies

#1076 [OGUI-1075] Use catalog instead of agent path in Consul service
  Framework/Backend/services/consul.service.js
  Framework/Backend/test/mocha-consul.service.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend

#1074 [OGUI-1075] Adapt tag parsing to changes in Consul service
  QualityControl/lib/api.js
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Backend, Quality Control

#1079 [OGUI-1077] Visual improvements requested by users
  Control/package-lock.json
  Control/package.json
  Control/public/app.css
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/advancedPanel.js
  Control/public/workflow/panels/variables/basicPanel.js
  Control/public/workflow/panels/variables/mainPanel.js
  Control/public/workflow/workflowsPage.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Control

#1082 [OGUI-1078] General panel should evaluate variables visibility
  Control/CHANGELOG.md
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/panels/variables/mainPanel.js
Labels: Frontend, Control

#1095 [OGUI-798] Use token scopes for authorisation
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Frontend/js/src/sessionService.js
Labels: Backend

#1097 Bump minor version of Framework
  Framework/package-lock.json
  Framework/package.json
Labels: release, Framework

#1099 [OGUI-1081] Only dropdown should check for allowed values
  Control/public/workflow/panels/variables/WorkflowVariable.js
Labels: Frontend, Control

#1100 [OGUI-1083] Add ODC Status to each environment in env list
  Control/public/Model.js
  Control/public/common/utils.js
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Labels: Frontend, Control

#1098 [OGUI-798] Adapt AliECS GUI to token access changes in Framework
  Control/lib/services/Padlock.js
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/appHeader.js
Labels: Control

#1104 [OGUI-1084] If SSO disable everyone is admin
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, release

#1106 [OGUI-798] Fix access scope in token
  Framework/Backend/http/server.js
  Framework/Backend/jwt/token.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Backend/test/mocha-kafka.js
  Framework/Backend/test/mocha-ws.js
  Framework/docs/guide/json-tokens.md
  InfoLogger/test/public/user-actions-mocha.js
Labels: Backend, fix

#1107 [OGUI-1087] Refactor layout service into controller
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/index.js
  QualityControl/lib/services/LayoutService.js
  QualityControl/lib/utils.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
  QualityControl/test/lib/mocha-utils.test.js
Labels: Backend, Quality Control

#1103 [OGUI-1084] Adapt view according to assigned SSO roles
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Control/public/Model.js
  Control/public/common/appHeader.js
  Control/public/common/detectorModal.js
  Control/public/environment/environmentsPage.js
  Control/public/services/DetectorService.js
  Control/public/task/content.js
  Control/public/workflow/constants.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
  Framework/docs/guide/openid.md
Labels: Control

#1114 [OGUI-979] Display obj metadata in objectTree View
  QualityControl/lib/QCModel.js
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/index.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/controllers/mocha-object.test.js
  QualityControl/test/lib/services/mocha-ccdb.test.js
  QualityControl/test/test-tobject2json.js
Labels: Frontend, Backend, Quality Control

#1115 [OGUI-1092] Check if variable should be visible in detector view
  Control/CHANGELOG.md
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
Labels: Frontend, Control

#1117 [OGUI-1020] Decrompress root on server side to improve loading times of layouts
  QualityControl/README.md
  QualityControl/config-default.js
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/package.json
  QualityControl/public/object/objectDraw.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/controllers/mocha-object.test.js
  QualityControl/test/lib/mocha-status-service.js
  QualityControl/test/public/mocha-index.js
  QualityControl/test/test-config.js
  QualityControl/zstd/zstd/zstd-codec.min.js
Labels: Frontend, Backend, Quality Control
