Repository AliceO2Group/WebUi, pull requests merged in 2022-04, with the labels that each got.

#1206 Fix for temporary protobuf parsing
  Control/lib/control-core/GrpcProxy.js
  Control/package-lock.json
  Control/package.json
Labels: Control, fix

#1204 [OGUI-1134] Fix race condition in env request test
  Control/test/config/core-grpc.js
  Control/test/public/page-new-environment-mocha.js
Labels: Control, CI, fix

#1207 [OGUI-1135] Properly deserialise Env ID from grpc error details
  Control/lib/control-core/GrpcProxy.js
  Control/package-lock.json
  Control/package.json
  Control/protobuf/environmentinfo_pb.js
  Control/protobuf/status_pb.js
Labels: Control

#1224 [OGUI-645] Split Integration Tests in multiple files
  QualityControl/test/public/mocha-index.js
  QualityControl/test/public/pages/about-page.test.js
  QualityControl/test/public/pages/index.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view.test.js
Labels: Quality Control

#1225 [OGUI-986] Refactoring to allow for auto switching for tabs layout
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/header.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/layout/view/panels/settings.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/layout-view.test.js
Labels: Frontend, Quality Control

#1226 [OGUI-986] ClearInterval on away page navigation
  QualityControl/public/Model.js
Labels: Frontend, Quality Control

#1228 [OGUI-1090] Add ways for users to import/export a layout as JSON
  QualityControl/README.md
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/sidebar.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/LayoutUtils.js
  QualityControl/public/layout/panels/importModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/layout-view.test.js
Labels: Frontend, Backend, Quality Control

#1237 [OGUI-1015] Use drawing options and display hints provided via drawing options
  QualityControl/README.md
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/controllers/mocha-object.test.js
  QualityControl/test/lib/services/mocha-ccdb.test.js
  QualityControl/test/public/mocha-index.js
Labels: Frontend, Backend, Quality Control

#1253 [OGUI-1155] Change source of user roles
  Framework/Backend/http/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, release

#1255 [OGUI-1148] Fixes layout creation & duplication
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/public/Model.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/controllers/mocha-layout.test.js
Labels: Frontend, Backend, Quality Control

#1256 Bump patch version of QCG
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Frontend, Backend, Quality Control
