Repository AliceO2Group/WebUi, pull requests merged in 2022-08, with the labels that each got.

#1459 [OGUI-1231] notification message should include run numbers
  Framework/Backend/services/notification.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, release

#1460 Bump AliECS GUI minor version
  Control/package-lock.json
  Control/package.json
Labels: release

#1482 [OGUI-1237] Bump JSROOT minor version
  QualityControl/package.json
Labels: dependencies

#1458 [OGUI-1134] Improve tests in AliECS GUI and update dependencies
  .github/workflows/control.yml
  Control/package-lock.json
  Control/package.json
  Control/test/config/core-grpc.js
  Control/test/integration/create-new-environment.js
  Control/test/lib/mocha-status-service.js
  Control/test/mocha-index.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-lock-mocha.js
  Control/test/public/page-new-environment-mocha.js
  codecov.yml
Labels: Control, CI, dependencies

#1484 Update GH Actions workflow pipelines
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  Control/README.md
  Control/package-lock.json
  Framework/README.md
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/README.md
  InfoLogger/package-lock.json
  QualityControl/package-lock.json
Labels: CI, dependencies

#1466 [OGUI-1226] Restrict service accounts access
  Framework/Backend/http/server.js
  Framework/docs/guide/openid.md
Labels: Backend

#1467 [OGUI-1235] Remove wildcards from connect-src CSP
  Framework/Backend/http/server.js
Labels: Backend, Framework

#1487 [OGUI-1233] Remove use if unsafe-inline and unsafe-eval in script-src server
  Framework/Backend/http/server.js
  Framework/Frontend/compatibility.html
  Framework/Frontend/js/src/compatibility.js
  Framework/Frontend/test/public/index.html
  Framework/Frontend/test/public/index.js
  Framework/package-lock.json
  Framework/package.json
Labels: Frontend, Backend, release

#1488 [OGUI-1233] Integrate new webui version and remove uses of unsafe
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/index.html
  QualityControl/public/index.js
Labels: Frontend, Backend, Quality Control, release

#1497 [OGUI-1238] Allow mjs config files
  QualityControl/lib/config/configProvider.js
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Backend, Quality Control, release

#1502 [OGUI-1239] Refactor utility file and include tests
  .github/workflows/qc.yml
  QualityControl/.eslintrc
  QualityControl/config-default.js
  QualityControl/lib/utils/utils.js
  QualityControl/package.json
  QualityControl/test/lib/config/public-config.test.js
  QualityControl/test/lib/index.js
  QualityControl/test/lib/utils/utils.test.js
  QualityControl/test/mocha-index.js
Labels: Backend, Quality Control

#1518 Release webui/framework
  Framework/package-lock.json
  Framework/package.json
Labels: release, Framework
