Repository AliceO2Group/WebUi, pull requests merged in 2023-03, with the labels that each got.

#1827 [OGUI-1331] Increase limit of tabs per layout
  QualityControl/lib/dtos/LayoutDto.js
Labels: Backend, Quality Control

#1830 [OGUI-1332] Initial refactor of environment page details
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/buttons/copyToClipboardButton.js
  Control/public/common/card/miniCard.js
  Control/public/common/card/rowForCard.js
  Control/public/common/constants/stateColors.js
  Control/public/common/iframe/iframe.js
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/components/buttons.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
  Control/public/environment/environmentsPage.js
  Control/public/utilities/di.js
  Control/test/integration/control-environment.js
  Control/test/public/page-environment-mocha.js
Labels: Frontend, Control

#1831 [cog] release/1.55.0
  Control/package-lock.json
  Control/package.json
  Control/public/common/tasks/taskCounterContent.js
  Control/public/configuration/configPage.js
Labels: Control, release

#1835 [OGUI-1332] Fix index of FLP running panels
  Control/lib/config/publicConfigProvider.js
  Control/public/environment/components/environmentPanel.js
  Control/test/lib/config/mocha-public-config.js
  Control/test/mocha-index.js
Labels: Frontend, Control

#1849 release/cog 1.56.0
  Control/package-lock.json
  Control/package.json
Labels: release

#1843 [OGUI-1343] Add role-check function to session service
  Framework/Frontend/js/src/sessionService.js
Labels: Backend

#1857 [OGUI-1342] Add global-run color to FRM
  Framework/Frontend/css/src/bootstrap.css
Labels: Frontend, Framework

#1858 release/webui/2.3.0
  Framework/package-lock.json
  Framework/package.json
Labels: release

#1854 [OGUI-1339] Add QC and TRG cards summary
  Control/package-lock.json
  Control/package.json
  Control/public/app.css
  Control/public/common/card/miniCard.js
  Control/public/common/constants/stateColors.js
  Control/public/environment/Environment.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environment-mocha.js
Labels: Frontend, Control

#1860 [OGUI-1341] Add information on components used in the environment
  Control/public/app.css
  Control/public/common/constants/stateColors.js
  Control/public/common/tasks/taskCounterContent.js
  Control/public/common/utils.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentsPage.js
Labels: Frontend, Control

#1863 [OGUI-1340] Fix issue in which new workflow parameters would not be sent to AliECS on old configurations
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
Labels: Frontend, Control

#1873 [OGUI-443] Provide start/end times of environments and runs
  Control/public/common/utils.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentsPage.js
  Control/test/public/page-environments-mocha.js
Labels: Frontend, Control

#1876 [OGUI-1334] Add TS for Grafana only if < 30 mins
  Control/public/environment/components/environmentPanel.js
Labels: Frontend, Control

#1877 [OGUI-1313] Allow for empty values edit in adv panel
  Control/public/workflow/Workflow.js
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/advancedPanel.js
Labels: Frontend, Control

#1878 [OGUI-1317] Add "set to none" button to workflows panels
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/mainPanel.js
Labels: Frontend, Control

#1879 [release/cog] Bump version to 1.58.0
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#1880 [OGUI-1304] Add common library and check for QC object type
  QualityControl/common/library/qcObject/utils.js
  QualityControl/index.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/test/common/library/qcObject/utils.test.js
  QualityControl/test/mocha-index.js
Labels: Frontend, Backend, Quality Control

#1884 [OGUI-1207] Migrate to new eslint schema as per GUIs conventions
  QualityControl/.eslintrc
  QualityControl/lib/QCModelDemo.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/UserService.js
  QualityControl/lib/utils/utils.js
  QualityControl/package.json
  QualityControl/public/Model.js
  QualityControl/public/common/Types.js
  QualityControl/public/common/header.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/common/utils.js
  QualityControl/public/folder/Folder.js
  QualityControl/public/frameworkInfo/FrameworkInfo.js
  QualityControl/public/frameworkInfo/frameworkInfoHeader.js
  QualityControl/public/frameworkInfo/frameworkInfoPage.js
  QualityControl/public/images/search.svg
  QualityControl/public/index.js
  QualityControl/public/layout/Grid.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/LayoutClass.js
  QualityControl/public/layout/LayoutUtils.js
  QualityControl/public/layout/list/header.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/panels/importModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/layout/view/panels/minimalObjectInfo.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/layout/view/panels/settings.js
  QualityControl/public/loader/spinner.js
  QualityControl/public/object/ObjectTree.class.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/checkersPanel.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectPropertiesSidebar.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/public/object/virtualTable.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/public/view.js
Labels: Frontend, Backend, Quality Control

#1886 [OGUI-1317] Fix issue when loading a widget variable
  Control/package-lock.json
  Control/package.json
  Control/public/workflow/panels/variables/WorkflowVariable.js
Labels: Frontend, Control
