Repository AliceO2Group/WebUi, pull requests merged in 2023-08, with the labels that each got.

#2061 [OGUI-1393] Admins should be able to control env in any scenario
  Control/public/environment/components/environmentPanel.js
  Control/test/config/core-grpc.js
  Control/test/public/page-environment-mocha.js
Labels: Frontend, Control

#2062 [OGUI-1384] Allow monitoring healtcheck to use https protocol
  Control/lib/services/Intervals.service.js
  Control/lib/services/Status.service.js
  Control/lib/utils.js
Labels: Backend, Control

#2068 [OGUI-1394] Display transitino step of environment and prevent users controlof env
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentsPage.js
Labels: Frontend, Control

#2073 [OGUI-1395] check for missing service data
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
Labels: Frontend, Control

#2074 [OGUI-1396] Hardware counters are calculated on the backend
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/TaskInfoAdapter.js
  Control/lib/api.js
  Control/lib/services/Environment.service.js
  Control/lib/typedefs/DeviceInfo.js
  Control/lib/typedefs/EnvironmentInfo.js
  Control/lib/typedefs/TaskInfo.js
  Control/public/app.css
  Control/public/common/tasks/taskCounterContent.js
  Control/public/environment/Environment.js
  Control/public/environment/components/environmentPanel.js
  Control/public/environment/environmentPage.js
  Control/test/lib/adapters/mocha-environment-info-adapter.test.js
  Control/test/lib/adapters/mocha-task-info-adapter.test.js
  Control/test/lib/services/mocha-environment.service.test.js
  Control/test/public/page-environment-mocha.js
Labels: Frontend, Backend, Control

#2076 [OGUI-1397] Add panels to display env tasks and way of retrieving only specified data
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Environment.service.js
  Control/lib/typedefs/OdcIntegratedServiceInfo.js
  Control/public/Model.js
  Control/public/app.css
  Control/public/common/utils.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentPage.js
  Control/public/utilities/currentPageAndParameters.js
  Control/test/lib/adapters/mocha-environment-info.adapter.test.js
  Control/test/lib/adapters/mocha-task-info.adapter.test.js
  Control/test/public/page-environment-mocha.js
  Control/test/public/page-environments-mocha.js
Labels: Frontend, Backend, Control

#2077 [release/cog/1.61.0]
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#2075 [O2B-958] Allow mounting object-based view
  Framework/Frontend/js/src/renderer.js
Labels: Frontend, Framework

#2079 [OGUI-1388] Refactor of QCG object retrieval based on new QC logic
  QualityControl/.eslintrc
  QualityControl/common/library/typedef/QcObject.js
  QualityControl/common/library/typedef/QcObjectLeaf.js
  QualityControl/common/library/utils/dateTimeFormat.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/dtos/QcObjectIdentificationDto.js
  QualityControl/lib/services/CcdbService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/Status.service.js
  QualityControl/lib/services/ccdb/CcdbConstants.js
  QualityControl/lib/services/ccdb/CcdbObjectIdentification.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/public/common/object/dateSelector.js
  QualityControl/public/common/object/objectInfoCard.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/frameworkInfo/frameworkInfoHeader.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectDraw.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/QCModelDemo.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/lib/services/ccdb-service.test.js
Labels: Frontend, Backend, Quality Control

#2083 [release/qcg/3.5.0]
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#2084 [OGUI-1388] Display createdAt instead of validFrom value
  QualityControl/public/common/object/dateSelector.js
Labels: Frontend, Quality Control

#2085 [OGUI-1388] Update method name following refactor
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Labels: Backend, Quality Control

#2091 [OGUI-1399] Returning from ObjectView to LayoutView should keep filters applied
  QualityControl/public/common/filterToFromUrlParams.js
  QualityControl/public/object/view/objectViewPage.js
  QualityControl/public/pages/objectView/components/header.js
Labels: Frontend, Quality Control

#2044 [OGUI-1243] Skeleton for simplified environment creation page
  Control/public/Model.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.page.js
  Control/public/pages/EnvironmentCreation/components/workflowTemplate.component.js
  Control/public/utilities/jsonFetch.js
  Control/public/view.js
  Control/test/integration/create-new-environment.js
  Control/test/public/page-environments-mocha.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Control

#2092 [OGUI-1400] Fix issue with deadline not being applied to unary call
  Control/lib/control-core/ControlService.js
Labels: Backend, Control

#2093 [OGUI-1398] Add 'to' parameter for Grafana Active Plots
  Control/public/environment/components/environmentPanel.js
Labels: Frontend, Control

#2094 [release/qcg/3.5.1]
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#2095 [OGUI-1402] Add API route for workflow mappings
  Control/lib/api.js
  Control/lib/control-core/ApricotCommands.js
  Control/lib/control-core/ApricotService.js
  Control/lib/controllers/WorkflowTemplate.controller.js
  Control/lib/errors/grpcErrorToNativeError.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/public/utilities/jsonFetch.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.test.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
Labels: Backend, Control

#2096 [OGUI-1402] Pass key to apricot when quering runtime entries
  Control/lib/control-core/ApricotService.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/test/lib/control-core/mocha-apricot.service.test.js
Labels: Backend, Control, fix

#2098 [OGUI-1401] Panel with buttons mapped to existing configurations
  Control/lib/api.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.page.js
  Control/public/pages/EnvironmentCreation/components/workflowCreationButton.component.js
  Control/public/pages/EnvironmentCreation/components/workflowMappings.component.js
  Control/public/pages/EnvironmentCreation/components/workflowTemplate.component.js
  Control/public/workflow/WorkflowForm.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Backend, Control

#2105 [OGUI-1405] No ID passed in some object selection
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/services/QCObject.service.js
Labels: Frontend, Quality Control, release

#2106 [OGUI-1406] API route for system compatbility check
  Control/lib/api.js
  Control/lib/common/runtimeComponents.enum.js
  Control/lib/common/statusComponents.enum.js
  Control/lib/controllers/Status.controller.js
  Control/lib/services/Intervals.service.js
  Control/lib/services/Status.service.js
  Control/test/lib/services/mocha-status-service.test.js
Labels: Backend, Control

#2108 Bump COG version
  Control/package-lock.json
  Control/package.json
  Control/test/integration/config-provider.js
Labels: Control, release
