Repository AliceO2Group/WebUi, pull requests merged in 2023-10, with the labels that each got.

#2142 [deps] Updates dependency package-lock file as per NPM recommendation
  Control/package-lock.json
  InfoLogger/package-lock.json
Labels: dependencies

#2143 Add documentation on using NodeJS profiling
  README.md
  documentation/NODEJS_PROFILING.md
Labels: documentation

#2144 [OGUI-1423] Fix incorrect parameters being sent to addStats function
  InfoLogger/public/log/Log.js
Labels: Frontend, InfoLogger

#2145 [OGUI-1425] Allow download of up to 1M logs
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
Labels: Frontend, InfoLogger

#2146 [OGUI-1426] && [OGUI-1427] Improve resilience of ILG
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/public/index.js
  InfoLogger/test/lib/mocha-status-service.js
Labels: Frontend, Backend, InfoLogger

#2147 [OGUI-1418] Add number of active sessions to /status/gui route
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/test/lib/mocha-status-service.test.js
Labels: Backend, InfoLogger

#2148 [OGUI-1424] Apply message field filter as last check in live
  InfoLogger/public/logFilter/LogFilter.js
Labels: Backend

#2149 [OGUI-1418] Add number of active clients to status API
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/services/Status.service.js
  QualityControl/test/lib/services/status-service.test.js
Labels: Backend, Quality Control

#2150 release/qcg/3.6.0
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#2151 [OGUI-1428] Remove usage of eval from front-end
  InfoLogger/public/log/Log.js
  InfoLogger/public/logFilter/LogFilter.js
Labels: Frontend, InfoLogger

#2153 [OGUI-1422] Patch lock service to return state on successful lock action
  Control/lib/services/Lock.js
  Control/public/lock/Lock.js
  Control/test/lib/mocha-lock.test.js
Labels: Backend, Control, Framework

#2154 [release/cog/1.64.0]
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#2155 [OGUI-1389] Let gRPC do the reconnection on its own
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/EnvCache.js
  Control/lib/control-core/GrpcProxy.js
Labels: Backend, Control

#2156 [OGUI-1421] Sort display of detectors alphabetically & patch release
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/package-lock.json
  Control/package.json
  Control/public/environment/environmentsPage.js
Labels: Frontend, Backend, Control, release

#2117 [OGUI-1409] Add bkp service for past runs retrieval
  Control/README.md
  Control/config-default.js
  Control/lib/adapters/RunSummaryAdapter.js
  Control/lib/services/Bookkeeping.service.js
  Control/lib/typedefs/RunInfo.js
  Control/test/lib/services/mocha-bookkeeping.service.test.js
Labels: Backend, Control

#2164 [OGUI-1414] Retrieve initial data needed for quering and building calibration page
  Control/lib/common/kvStore/runtime.enum.js
  Control/lib/common/logLevel.enum.js
  Control/lib/services/Bookkeeping.service.js
  Control/lib/services/CalibrationRun.service.js
  Control/lib/services/Status.service.js
  Control/lib/typedefs/RunSummary.js
  Control/test/lib/services/mocha-bookkeeping.service.test.js
  Control/test/lib/services/mocha-calibration-run-service.test.js
  Control/test/lib/services/mocha-status-service.test.js
Labels: Backend, Control

#2177 Add duration formatter to the framework
  Framework/Frontend/js/src/formatter/formatTimeDuration.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/utilities/durationUtils.js
Labels: Frontend

#2178 [OGUI-1414] Update KV Stored runtime calibration configuration types
  Control/lib/services/Run.service.js
  Control/lib/typedefs/CalibrationConfiguration.js
  Control/test/lib/services/mocha-run.service.test.js
  Control/test/lib/services/mocha-status.service.test.js
Labels: Backend, Control

#2179 [OGUI-1433] Update BookkeepingFilter for more generic one
  Control/lib/adapters/external/BookkeepingFilterAdapter.js
  Control/lib/services/Bookkeeping.service.js
  Control/test/lib/services/mocha-bookkeeping.service.test.js
Labels: Backend, Control

#2180 [OGUI-1431] Fix run retrieval based on new filters
  Control/lib/adapters/RunSummaryAdapter.js
  Control/lib/services/Run.service.js
  Control/lib/typedefs/RunSummary.js
  Control/test/lib/services/mocha-bookkeeping.service.test.js
  Control/test/lib/services/mocha-run.service.test.js
Labels: Backend, Control

#2184 [OGUI-1410] Add informative message if missing calibration info for all runs
  Control/public/pages/CalibrationRuns/components/calibrationRunCard.js
  Control/public/pages/CalibrationRuns/components/calibrationRunGroups.js
Labels: Frontend, Control

#2185 [OGUI-1412] Add new CacheService and Broadcast new calibration information
  Control/lib/api.js
  Control/lib/common/cacheKeys.enum.js
  Control/lib/controllers/Run.controller.js
  Control/lib/services/Bookkeeping.service.js
  Control/lib/services/Broadcast.service.js
  Control/lib/services/Cache.service.js
  Control/lib/services/Run.service.js
  Control/public/Model.js
  Control/public/pages/CalibrationRuns/CalibrationRuns.model.js
  Control/test/lib/controllers/mocha-run-controller.test.js
Labels: Frontend, Backend, Control
