Repository AliceO2Group/WebUi, pull requests merged in 2023-01, with the labels that each got.

#1747 [OGUI-1301] Migrate to jsonwebtoken v9 and refactor O2 token class
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/jwt/token.js
  Framework/Backend/services/O2TokenService.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-jwt.js
  Framework/Backend/test/mocha-o2web-token.js
  Framework/Backend/test/mocha-ws.js
  Framework/Backend/websocket/server.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, release, dependencies

#1662 [OGUI-1303] Authenticate user even on public routes
  Framework/Backend/http/server.js
  Framework/Backend/test/mocha-http.js
Labels: Backend, Framework

#1748 [OGUI-1301] Update aliceo2/web-ui version
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/test/public/user-actions-mocha.js
Labels: InfoLogger, release, dependencies

#1749 [OGUI-1302] Use "valid-from" for requesting list of object versions
  QualityControl/lib/services/CcdbService.js
Labels: Backend, Quality Control

#1750 [OGUI-1301] Bump web-ui version and QCG minor version
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release
