Repository AliceO2Group/WebUi, pull requests merged in 2024-07, with the labels that each got.

#2423 [OGUI-1518] Reduce drawing pad size for grid
  QualityControl/public/Model.js
Labels: Frontend, Quality Control

#2462 [OGUI-1522] Add missing lock information env details
  Control/public/common/card/miniCard.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentActionPanel.js
  Control/test/public/page-environment-mocha.js
Labels: Frontend, Control

#2463 [improv] Remove call to deprecated method
  Control/test/config/apricot-grpc.js
  Control/test/config/core-grpc.js
Labels: Control

#2464 [OGUI-1512] Increase tab name of layouts to 50 chars
  QualityControl/lib/dtos/LayoutDto.js
Labels: Backend, Quality Control

#2470 [OGUI-1458] Improve logging on user actions
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Run.controller.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/controllers/mocha-run-controller.test.js
Labels: Backend, Control

#2471 [OGUI-1499] Add warning message for missing role to take locks
  Control/public/common/detectorModal.js
  Control/public/common/userRole.js
  Control/public/environment/components/controlEnvironmentPanel.js
  Control/public/environment/components/environmentActionPanel.js
  Control/public/environment/environmentsPage.js
  Control/public/lock/lockPage.js
  Control/public/services/DetectorService.js
  Control/public/task/content.js
  Control/public/workflow/panels/loadConfiguration/loadConfiguration.js
  Control/public/workflow/workflowsPage.js
Labels: Frontend, Control

#2472 [OGUI-1525] Generalise tasks rather than differentiating FLP and EPN tasks
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/common/taskState.enum.js
  Control/public/common/enums/TaskState.js
  Control/public/environment/components/environmentTasksSummaryTable.js
Labels: Frontend, Backend, Control

#2475 [OGUI-1294] Move e2e tests to flp repository
  Control/package-lock.json
  Control/package.json
  Control/test/integration/config-provider.js
  Control/test/integration/control-environment.js
  Control/test/integration/core-tests.js
  Control/test/integration/create-new-environment.js
Labels: Control

#2484 [OGUI-1527] Toggle component should allow for value change on the entire hovered row
  Control/public/app.css
  Control/public/workflow/panels/variables/components.js
Labels: Frontend, Control

#2485 [OGUI-1528] Fix error being thrown and displayed on env-details for no epn tasks
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/services/Environment.service.js
  Control/public/environment/components/environmentNavigationTabs.js
  Control/test/lib/services/mocha-environment.service.test.js
Labels: Backend, Control

#2486 [OGUi-1529] Add user to ECS requests for New or Control
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/dtos/User.js
  Control/lib/services/Environment.service.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/services/mocha-environment.service.test.js
Labels: Backend, Control

#2487 Update QCG external link to include runType
  Control/public/common/qcgExternalLink.js
Labels: Frontend, Control

#2488 Only send pdp beam type if we have physics run
  QualityControl/public/Model.js
Labels: Frontend, Quality Control

#2490 [deps] Update proto file from ECS
  Control/protobuf/protos/protos/common.proto
Labels: Control, dependencies

#2491 [deps] Bump web-ui and joi patch dependencies
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, dependencies

#2492 [release/cog/qcg]
  Control/package-lock.json
  Control/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, Control, release

#2493 [OGUI-1452] Rename Log to Logger
  Control/test/lib/common/mocha-role-enum.test.js
  Framework/Backend/db/mysql.js
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/log/Logger.js
  Framework/Backend/services/jira.js
  Framework/Backend/services/notification.js
  Framework/Backend/test/log/mocha-log.js
  Framework/Backend/websocket/server.js
Labels: Framework

#2495 [OGUI-1531] Automatically send to winston logs more than level 10
  .eslintrc.js
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/Logger.js
  Framework/Backend/services/jira.js
  Framework/Backend/test/log/mocha-infologgermessage.js
Labels: Framework

#2497 [OGUI-1533] Use logger label if none is specified
  Framework/Backend/log/Logger.js
Labels: Framework

#2496 [OGUI-1532] Fix log enums style
  Framework/Backend/log/InfoLoggerMessage.js
  Framework/Backend/log/InfoLoggerSender.js
  Framework/Backend/log/LogLevel.js
  Framework/Backend/log/LogSeverity.js
  Framework/Backend/log/Logger.js
Labels: Framework

#2498 [OGUI-1534] Replace partition and run by environmentId and runNumber in logger interface
  Framework/Backend/log/InfoLoggerMessage.js
Labels: Framework

#2505 Migration to new O2 GUIs eslint configuration and ESLINT v9
  InfoLogger/config-default.js
  InfoLogger/eslint.config.js
  InfoLogger/index.js
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/lib/configProvider.js
  InfoLogger/lib/controller/QueryController.mjs
  InfoLogger/package-lock.json
  InfoLogger/package.json
  InfoLogger/public/Model.js
  InfoLogger/public/about/about.component.js
  InfoLogger/public/common/Timezone.js
  InfoLogger/public/common/datePicker.js
  InfoLogger/public/common/errorComponent.js
  InfoLogger/public/common/loadingAnimation.js
  InfoLogger/public/common/moment-timezone.js
  InfoLogger/public/common/moment.js
  InfoLogger/public/common/utils.js
  InfoLogger/public/constants/button-states.const.js
  InfoLogger/public/constants/mode.const.js
  InfoLogger/public/constants/visual.const.js
  InfoLogger/public/index.js
  InfoLogger/public/log/Log.js
  InfoLogger/public/log/commandLogs.js
  InfoLogger/public/log/inspector.js
  InfoLogger/public/log/severityUtils.js
  InfoLogger/public/log/statusBar.js
  InfoLogger/public/log/tableColGroup.js
  InfoLogger/public/log/tableLogsContent.js
  InfoLogger/public/log/tableLogsHeader.js
  InfoLogger/public/log/tableLogsScrollMap.js
  InfoLogger/public/logFilter/LogFilter.js
  InfoLogger/public/logFilter/commandFilters.js
  InfoLogger/public/logFilter/tableFilters.js
  InfoLogger/public/table/Table.js
  InfoLogger/public/view.js
  InfoLogger/test/test-config.js
Labels: Frontend, Backend, InfoLogger, dependencies

#2507 [release/FRM/2.7.0] Bump minor version of FRM
  Framework/package-lock.json
  Framework/package.json
Labels: release, Framework

#2508 [O2B-1531] Add tests for logs not sent to infologger above Developper level
  Framework/Backend/log/Logger.js
  Framework/Backend/test/log/mocha-log.js
  Framework/Backend/test/mocha-notification.js
Labels: Framework

#2510 Bump web-ui to 2.7.0 in Control, InfoLogger and QC
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: dependencies

#2506 [OGUI-1535] Use LogManager instead of Log
  Control/lib/api.js
  Control/lib/config/configProvider.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/EnvCache.js
  Control/lib/control-core/GrpcProxy.js
  Control/lib/control-core/RequestHandler.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Lock.controller.js
  Control/lib/controllers/Run.controller.js
  Control/lib/controllers/Status.controller.js
  Control/lib/services/Bookkeeping.service.js
  Control/lib/services/Cache.service.js
  Control/lib/services/Run.service.js
  Control/lib/services/Status.service.js
  Control/lib/utils.js
  Framework/Backend/db/mysql.js
  Framework/Backend/http/openid.js
  Framework/Backend/http/server.js
  Framework/Backend/log/InfoLoggerReceiver.js
  Framework/Backend/services/jira.js
  Framework/Backend/services/notification.js
  Framework/Backend/websocket/server.js
  Framework/docs/tutorial/index.js
  InfoLogger/lib/JSONFileConnector.js
  InfoLogger/lib/ProfileService.js
  InfoLogger/lib/SQLDataSource.js
  InfoLogger/lib/StatusService.js
  InfoLogger/lib/api.js
  InfoLogger/lib/configProvider.js
  InfoLogger/lib/controller/QueryController.mjs
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/config/configProvider.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/Status.service.js
  QualityControl/lib/services/UserService.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/lib/utils/utils.js
Labels: Backend, Quality Control, Control, InfoLogger

#2511 [OGUI-1526] Extract various components into reusable ones for environment(s) pages
  Control/public/app.css
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/common/buttons/redirectButtonLink.js
  Control/public/common/enums/EnvironmentState.enum.js
  Control/public/environment/components/buttons.js
  Control/public/environment/environmentsPage.js
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/public/pages/Environment/components/environmentActionPanel.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environment/components/environmentStateSummary.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
  Control/public/pages/Environment/components/expandableEnvRows.js
  Control/public/pages/Environment/components/informationRedirectActionPanel.js
  Control/public/pages/Environment/components/monitoringRunningPlotsPanel.js
  Control/public/view.js
Labels: Frontend, Control

#2512 [OGUI-1526] Extract FLP task tables from env page
  Control/public/common/task/taskPerFlpTable.js
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentConfigurationTable.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environment/components/expandableEnvRows.js
  Control/public/pages/Environment/components/expandableObjectRow.js
  Control/public/utilities/getKnownVariableLabel.js
Labels: Frontend, Control

#2513 [OGUI-1526] Extract model and component for reuse with regards to task pages and information
  Control/public/common/task/TaskTableModel.js
  Control/public/common/task/tasksPerFlpTable.js
  Control/public/environment/Environment.js
  Control/public/environment/Task.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/task/Task.js
  Control/public/task/content.js
  Control/public/utilities/jsonPost.js
Labels: Frontend, Control

#2527 [OGUI-1526] Extract epn table task
  Control/public/common/task/tasksPerEpnTable.js
  Control/public/common/utils.js
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
Labels: Frontend, Control

#2528 [OGUI-1526] Extract general table for FLP/EPN and reuse it across GUI
  Control/public/common/task/epnTasksTable.js
  Control/public/common/task/flpTasksTable.js
  Control/public/common/task/tasksPerEpnTable.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/task/content.js
Labels: Frontend, Control

#2529 [OGUI-1524] Add task filtering in their respective tables
  Control/public/common/task/TaskTableModel.js
  Control/public/common/task/epnTasksTable.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/task/Task.js
  Control/public/task/content.js
  Control/test/public/page-tasks-mocha.js
Labels: Frontend, Control

#2531 [OGUI-1536] Use RemoteData for list of tasks in an environment
  Control/public/common/task/flpTasksTable.js
  Control/public/common/task/tasksPerHostPanel.js
  Control/public/environment/Environment.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
  Control/public/task/content.js
Labels: Frontend, Control

#2532 [OGUI-1536] Improve UX for loading tasks
  Control/public/common/task/tasksPerHostPanel.js
Labels: Frontend, Control

#2535 [release/cog/1.72.0] Bump cog minor version
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#2534 Add new eslint dependency to dev-deps group for dependabot
  .github/dependabot.yml
Labels: dependencies, github_actions
