Repository AliceO2Group/WebUi, pull requests merged in 2024-11, with the labels that each got.

#2643 [OGUI-1564] Adapt objectview page tests
  QualityControl/lib/services/QcObject.service.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
  QualityControl/test/public/pages/object-view.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/seeders/object-view/mock-object.root
  QualityControl/test/setup/seeders/qcg-mock-data.json
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
  QualityControl/test/testUtils/delay.js
Labels: Frontend, Framework, javascript

#2650 [OGUI 1566] Adapt layout view page tests
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/layout-view.test.js
  QualityControl/test/setup/seeders/qcg-mock-data.json
  QualityControl/test/test-index.js
Labels: Frontend, Framework, javascript

#2654 [OGUI-1572] Add root check of user permissions before building UI page
  Control/public/lock/lockPage.js
  Control/public/view.js
  Control/public/workflow/workflowsPage.js
  Control/test/public/page-new-environment-mocha.js
Labels: Frontend, Control

#2656 [OGUI-1569] Copy mock data before tests are run to ensure a clean state all the time
  QualityControl/.gitignore
  QualityControl/test/setup/seeders/qcg-mock-data-template.json
  QualityControl/test/setup/testServerSetup.js
Labels: Backend, Quality Control

#2657 [OGUI-1573] Add minimumRoleMiddleware check on lock/:action API
  Control/lib/api.js
  Control/package-lock.json
  Control/package.json
  Control/test/api/generateToken.js
  Control/test/api/lock/api-get-locks.test.js
  Control/test/api/lock/api-put-locks.test.js
  Control/test/mocha-index.js
  Control/test/test-config.js
Labels: Backend, Control

#2658 [release/cog/1.74.0]
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#2665 [OGUI-1568] Filter issues filtering objects on edit mode layout show
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/object/virtualTable.js
  QualityControl/test/public/pages/layout-show.test.js
Labels: Frontend, Framework, tests

#2668 [OGUI-1557] Added Try Catch for kafkaclient
  Control/lib/api.js
Labels: Backend, Control

#2667 [OGUI-1578] Added vscode debugging configuration in launch.js
  .gitignore
  .vscode/launch.json
  InfoLogger/package.json
Labels: InfoLogger

#2629 [OGUI-1556] Allow modification of existing layouts via JSON panel
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/panels/editModal.js
  QualityControl/public/layout/panels/importModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/layout-show/json-file-mock.js
  QualityControl/test/setup/seeders/qcg-mock-data-template.json
  QualityControl/test/test-index.js
Labels: Frontend, Quality Control

#2671 [OGUI-1583] Reset status of this.item if there is an error saving after updating
  QualityControl/public/layout/Layout.js
Labels: Frontend, Quality Control

#2666 [OGUI-1579] InfoLogger setup documentation updated, npm run simul fixed.
  InfoLogger/README.md
  InfoLogger/package.json
  InfoLogger/test/live-simulator/runInfoLoggerServer.js
Labels: InfoLogger, documentation
