Repository AliceO2Group/WebUi, pull requests merged in 2024-12, with the labels that each got.

#2690 Update dependency with high vulnerability
  Control/package-lock.json
  Control/package.json
Labels: Control

#2675 [OGUI-1455] PART 1. SQL queries logging.
  InfoLogger/lib/services/QueryService.js
  InfoLogger/lib/utils/preparedStatementParser.js
  InfoLogger/test/lib/services/mocha-preparedStatementParser.js
  InfoLogger/test/lib/services/mocha-query-service.test.js
Labels: Backend, InfoLogger, tests

#2672 [OGUI-1581] Split action for taking/releasing all locks in API router
  Control/lib/api.js
  Control/lib/common/detectorId.enum.js
  Control/lib/middleware/addDetectorId.middleware.js
  Control/test/api/lock/api-put-locks.test.js
  Control/test/lib/middleware/mocha-addDetectorId.middleware.test.js
Labels: Backend, Control

#2697 [OGUI-1590] Add support for final ECS operation (error/timeout) in DCS SOR pane
  Control/lib/adapters/DcsIntegratedEventAdapter.js
  Control/lib/common/ecsOperationAndStepStatus.enum.js
  Control/public/common/enums/DetectorState.enum.js
  Control/public/pages/Environment/components/dcs/dcsSorPanel.js
Labels: Frontend, Backend, Control

#2698 [release/cog/1.75.0]
  Control/package-lock.json
  Control/package.json
Labels: Control, release
