Repository AliceO2Group/WebUi, pull requests merged in 2025-03, with the labels that each got.

#2771 OGUI-1626: Remove Online Mode functionality
  QualityControl/.gitignore
  QualityControl/README.md
  QualityControl/common/library/qcObject/utils.js
  QualityControl/config-default.js
  QualityControl/eslint.config.js
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/config/publicConfigProvider.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/services/Status.service.js
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/header.js
  QualityControl/public/common/infoButton.js
  QualityControl/public/common/sidebar.js
  QualityControl/public/common/timestampSelectForm.js
  QualityControl/public/index.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/common/library/qcObject/utils.test.js
  QualityControl/test/demoData/online-services.mock.js
  QualityControl/test/lib/config/publicConfig.test.js
  QualityControl/test/lib/services/StatusService.test.js
  QualityControl/test/public/initialPageSetup.test.js
  QualityControl/test/public/pages/about-page.test.js
  QualityControl/test/test-index.js
Labels: Frontend, Backend, Quality Control

#2772 Remove vulnerability raised by GH
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
Labels: Frontend, Control

#2776 [OGUI-1618] Docker configuration for QCG environment
  QualityControl/.gitignore
  QualityControl/Dockerfile
  QualityControl/README.md
  QualityControl/docker-compose.yml
  QualityControl/package.json
Labels: Docker

#2778 [OGUI-1618] Configure containerization for development with live reload support
  QualityControl/Dockerfile
  QualityControl/README.md
  QualityControl/docker-compose.yml
  QualityControl/docs/quality_control.sql
  QualityControl/docs/schema.md
Labels: Docker

#2754 [OGUI-1567] ilg link to bkp
  InfoLogger/config-default.js
  InfoLogger/lib/api.js
  InfoLogger/lib/controller/ConfigController.js
  InfoLogger/package-lock.json
  InfoLogger/public/Model.js
  InfoLogger/public/app.css
  InfoLogger/public/common/bkpLogEntryRedirectButton.js
  InfoLogger/public/log/inspector.js
  InfoLogger/public/services/ConfigurationService.js
  InfoLogger/public/services/externalRouting/getBkpLogEntryFormUrl.js
  InfoLogger/test/lib/controller/mocha-config-controller.js
  InfoLogger/test/live-simulator/fakeData.json
Labels: Frontend, Backend, InfoLogger

#2788 [release/ilg/1.15.0]
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: InfoLogger, release

#2789 Remove unused variable in LayoutRepository
  QualityControl/test/lib/repositories/LayoutRepository.test.js
Labels: tests

#2790 [OGUI-1632] Add middleware check function for lock ownership on request with detectors specified in body
  Control/lib/api.js
  Control/lib/middleware/getDetectorsLockOwnershipMiddlewareFactory.js
  Control/lib/middleware/lockOwnership.middleware.js
  Control/lib/middleware/setDetectorsFromEnvironmentMiddlewareFactory.js
  Control/test/lib/middleware/mocha-getDetectorsLockOwnershipMiddlewareFactory.js
  Control/test/lib/middleware/mocha-lockOwnership.middleware.test.js
  Control/test/lib/middleware/mocha-setDetectorsFromEnvironmentMiddlewareFactory.js
Labels: Backend, Control
