Repository AliceO2Group/WebUi, pull requests merged in 2025-10, with the labels that each got.

#3095 [OGUI-1782] Bug in safari: error using filter property by an iterator
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/pages/layoutListView/model/SearchFilterModel.js
Labels: Frontend, Quality Control, release

#3102 [OGUI-1761] Restrict Lock force ALL actions to admin users only
  Control/lib/api.js
  Control/public/lock/lockPage.js
  Control/test/api/lock/api-put-locks.test.js
Labels: Control

#3099 [OGUI-1784] Update sidebar layout name locally after save
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/pages/layout-show.test.js
Labels: Frontend, Quality Control

#3100 [OGUI-1620] Create repositories to interact with layout data
  QualityControl/lib/database/migrations/20250424083717-create-tables.mjs
  QualityControl/lib/database/models/Chart.js
  QualityControl/lib/database/models/ChartOption.js
  QualityControl/lib/database/models/GridTabCell.js
  QualityControl/lib/database/models/Layout.js
  QualityControl/lib/database/models/Option.js
  QualityControl/lib/database/models/Tab.js
  QualityControl/lib/database/models/User.js
  QualityControl/lib/database/repositories/BaseRepository.js
  QualityControl/lib/database/repositories/ChartOptionsRepository.js
  QualityControl/lib/database/repositories/ChartRepository.js
  QualityControl/lib/database/repositories/GridTabCellRepository.js
  QualityControl/lib/database/repositories/LayoutRepository.js
  QualityControl/lib/database/repositories/OptionRepository.js
  QualityControl/lib/database/repositories/TabRepository.js
  QualityControl/lib/database/repositories/UserRepository.js
  QualityControl/lib/database/repositories/index.js
  QualityControl/test/lib/database/repositories/BaseRepository.test.js
  QualityControl/test/lib/database/repositories/ChartOptionsRepository.test.js
  QualityControl/test/lib/database/repositories/ChartRepository.test.js
  QualityControl/test/lib/database/repositories/GridTabCellRepository.test.js
  QualityControl/test/lib/database/repositories/LayoutRepository.test.js
  QualityControl/test/lib/database/repositories/OptionRepository.test.js
  QualityControl/test/lib/database/repositories/TabRepository.test.js
  QualityControl/test/lib/database/repositories/UserRepository.test.js
  QualityControl/test/test-index.js
Labels: Backend, Quality Control
