Repository AliceO2Group/WebUi, pull requests merged in 2025-05, with the labels that each got.

#2779 [OGUI-1629] Reorganize project documentation
  QualityControl/README.md
  QualityControl/docs/Architecture.md
  QualityControl/docs/CI_Workflows.md
  QualityControl/docs/Configuration.md
  QualityControl/docs/Development.md
  QualityControl/docs/Features.md
  QualityControl/docs/Installation.md
  QualityControl/docs/Testing.md
Labels: documentation

#2848 [OGUI-1129] Layouts do not preserve object arrangement
  QualityControl/public/layout/Layout.js
Labels: Frontend, Quality Control

#2854 [OGUI-1664] add new custom error for failed depedency
  Framework/Backend/errors/FailedDependencyError.js
  Framework/Backend/errors/updateAndSendExpressResponseFromNativeError.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/test/errors/mocha-updateExpressResponseFromNativeError.test.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, release, Framework

#2855 Bump webui across projects
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, Control, InfoLogger, dependencies

#2857 [release/webui/2.8.4]
  Framework/Backend/index.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, release, Framework

#2858 Bump WebUI across all projects to 2.8.4
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, Control, InfoLogger, dependencies

#2856 [OGUI-1665] [OGUI-1666]
  Control/public/Model.js
  Control/public/pages/Environment/components/environmentStateSummary.js
Labels: Frontend, Control

#2859 [OGUI-1667] Improve TaskAdapter & Add ODC devices adapters to integrate expendable
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/OdcDeviceInfoAdapter.js
  Control/lib/adapters/ShortTaskInfoAdapter.js
  Control/lib/typedefs/DeviceInfo.js
  Control/lib/typedefs/OdcDeviceInfo.js
  Control/lib/typedefs/OdcIntegratedServiceInfo.js
  Control/lib/typedefs/TaskInfo.js
  Control/public/common/task/epnTasksTable.js
  Control/public/common/task/flpTasksTable.js
  Control/public/common/utils.js
  Control/test/lib/adapters/mocha-short-task-info.adapter.test.js
Labels: Frontend, Backend, Control

#2849 [OGUI-1657] Migrate to use tree API from CCDB
  QualityControl/lib/dtos/QCObjectDto.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/lib/services/CcdbService.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/testSetupForCcdb.js
Labels: Frontend, Quality Control, tests

#2860 [OGUI-1652] Take into account ODC when displaying READY label
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/adapters/OdcDeviceInfoAdapter.js
  Control/public/common/environment/environmentReadinessStatus.js
  Control/public/common/task/epnTasksTable.js
  Control/public/environment/environmentsPage.js
  Control/public/pages/Environment/components/controlEnvironmentPanel.js
  Control/public/pages/Environment/components/informationRedirectActionPanel.js
Labels: Frontend, Control

#2691 [OGUI-1472] Run types filter selector for layout show view
  QualityControl/docs/Configuration.md
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/public/Model.js
  QualityControl/public/common/filters/filter.js
  QualityControl/public/common/filters/filterTypes.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/layout/view/panels/filtersConfig.js
  QualityControl/public/services/Filter.service.js
  QualityControl/test/config.js
  QualityControl/test/lib/controllers/FiltersController.test.js
  QualityControl/test/lib/services/BookeepingService.test.js
  QualityControl/test/lib/services/FilterService.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/bkp-mock-data.js
  QualityControl/test/setup/testSetupForBkp.js
  QualityControl/test/test-index.js
Labels: Frontend, Backend, Quality Control, tests

#2861 [OGUI-1669] Fix autotab change functionality
  QualityControl/public/layout/Layout.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/setup/seeders/layout-show/json-file-mock.js
Labels: Backend, Quality Control, tests

#2839 [OGUI 1655] update LayoutList REST to only send required fields
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/lib/repositories/LayoutRepository.js
  QualityControl/public/Model.js
  QualityControl/public/common/RequestFields.enum.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/services/Layout.service.js
  QualityControl/test/api/layouts/api-get-layout.test.js
  QualityControl/test/demoData/layout/layout.mock.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/repositories/LayoutRepository.test.js
  QualityControl/test/test-index.js
Labels: Frontend, Backend, Quality Control

#2868 [release/qcg/3.12.0]
  QualityControl/lib/QCModel.js
  QualityControl/lib/repositories/LayoutRepository.js
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#2870 [OGUI-1671] Fix: Import test files only in test environment
  QualityControl/index.js
Labels: Quality Control, breaking, tests

#2871 [release/qcg/3.12.1]
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#2877 [OGUI-1672] Add support for NewEnvironmentAsync
  Control/lib/services/Environment.service.js
  Control/test/lib/services/mocha-environment.service.test.js
Labels: Backend, Control

#2879 [release/cog/1.78.0]
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#2891 [OGUI-1678] Set task attribute `isCritical` to `false` by default to protect against lack of optional
  Control/lib/adapters/ShortTaskInfoAdapter.js
  Control/test/lib/adapters/mocha-short-task-info.adapter.test.js
Labels: Backend, Control

#2892 [release/cog/1.78.1]
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#2893 DCS sor state in task summary centered
  Control/public/common/environment/environmentReadinessStatus.js
  Control/public/pages/Environment/components/environmentTasksSummaryTable.js
Labels: Frontend, Control

#2899 [OGUI-1687] Add Tokenization project skeleton
  Tokenization/.gitignore
  Tokenization/README.md
  Tokenization/backend/index.js
  Tokenization/backend/package-lock.json
  Tokenization/backend/package.json
  Tokenization/docker-compose.yml
  Tokenization/docker/provisioning/nginx/conf.d/default.conf
  Tokenization/docs/DEVELOPMENT.md
  Tokenization/webapp/app/app.css
  Tokenization/webapp/app/components/logs/log.ts
  Tokenization/webapp/app/components/tokens/token-logs.tsx
  Tokenization/webapp/app/components/tokens/token.ts
  Tokenization/webapp/app/root.tsx
  Tokenization/webapp/app/routes.ts
  Tokenization/webapp/app/routes/home.tsx
  Tokenization/webapp/app/routes/tokens/details.tsx
  Tokenization/webapp/app/routes/tokens/overview.tsx
  Tokenization/webapp/app/ui/icon.tsx
  Tokenization/webapp/app/ui/navbar.tsx
  Tokenization/webapp/app/ui/spinner.tsx
  Tokenization/webapp/package-lock.json
  Tokenization/webapp/package.json
  Tokenization/webapp/public/favicon.ico
  Tokenization/webapp/react-router.config.ts
  Tokenization/webapp/tsconfig.json
  Tokenization/webapp/vite.config.ts
Labels: Tokenization
