Repository AliceO2Group/WebUi, pull requests merged in 2025-09, with the labels that each got.

#3035 [release/cog/2.0.1]
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#3023 [OGUI-1722] Integrate runs mode functionality
  QualityControl/common/library/runStatus.enum.js
  QualityControl/docs/Features.md
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/header.js
  QualityControl/public/common/runModeHeader.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/services/Filter.service.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/lib/services/BookkeepingService.test.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/features/runsMode/runsModeLayoutShow.test.js
  QualityControl/test/public/features/runsMode/runsModeObjectTree.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/setup/testSetupForBkp.js
  QualityControl/test/test-index.js
Labels: Quality Control

#3042 [release/qcg/3.14.0]
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#3038 [OGUI-1757] Update layouts controller to allow objects path
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/dtos/LayoutDto.js
  QualityControl/lib/dtos/ObjectPathDto.js
  QualityControl/test/lib/controllers/LayoutController.test.js
Labels: Backend, Quality Control, tests, javascript

#3049 [OGUI-1762] Improve user messages when accessing runs mode
  QualityControl/common/library/runStatus.enum.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/dtos/filters/RunNumberDto.js
  QualityControl/lib/middleware/filters/runMode.middleware.js
  QualityControl/lib/middleware/filters/runStatusFilter.middleware.js
  QualityControl/lib/services/FilterService.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/services/Filter.service.js
  QualityControl/test/api/filters/api-get-run-status.test.js
  QualityControl/test/lib/middlewares/filters/runMode.middleware.test.js
  QualityControl/test/lib/middlewares/filters/runStatusFilter.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByContentsValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByIdValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectsGetValidation.middleware.test.js
  QualityControl/test/lib/services/FilterService.test.js
Labels: Frontend, Backend, Quality Control

#3053 Refactor/remove unused refresh timer
  QualityControl/public/Model.js
Labels: Frontend, Quality Control

#3054 [OGUI-1766] Run mode checkout
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/filtersConfig.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/filters/runMode/runModeCheckbox.js
  QualityControl/public/common/filters/runMode/runStatusPanel.js
  QualityControl/public/common/header.js
  QualityControl/public/common/object/dateSelector.js
  QualityControl/public/common/runModeHeader.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/panels/editModal.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/objectView/components/header.js
  QualityControl/public/services/Filter.service.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/features/runMode.test.js
  QualityControl/test/public/features/runsMode/runsModeLayoutShow.test.js
  QualityControl/test/public/features/runsMode/runsModeObjectTree.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/setup/testSetupForBkp.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Labels: Frontend, Quality Control

#3065 [OGUI-1760] Update search UI for object path and add filters
  .vscode/launch.json
  QualityControl/public/common/header.js
  QualityControl/public/pages/layoutListView/FilterTypes.js
  QualityControl/public/pages/layoutListView/LayoutListPage.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/layoutListView/filtersPanelPopover.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
  QualityControl/public/pages/layoutListView/model/SearchFilterModel.js
  QualityControl/public/services/Layout.service.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/layout-list.test.js
Labels: Frontend, Quality Control, tests

#3079 [OGUI-329] Adapt frontend to kafka events
  QualityControl/index.js
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/FilterController.js
  QualityControl/lib/services/RunModeService.js
  QualityControl/public/common/filters/filter.js
  QualityControl/public/common/filters/filterTypes.js
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/filtersConfig.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/filters/runMode/runStatusPanel.js
  QualityControl/public/services/Filter.service.js
  QualityControl/test/config.js
  QualityControl/test/public/features/runMode.test.js
  QualityControl/test/setup/mockKafkaEvents.js
  QualityControl/test/setup/testSetupForBkp.js
  QualityControl/test/setup/testSetupForCcdb.js
Labels: Frontend, Quality Control

#3084 [OGUI-1774] Bugfix: get object by ID properly if in object view from a layout
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/public/object/QCObject.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
Labels: Frontend, Quality Control
