Repository AliceO2Group/WebUi, pull requests merged in 2025-01, with the labels that each got.

#2711 [OGUI-1596] Update grpcErrorToNativeError to provide option for developer to use either message or details
  Framework/Backend/errors/grpcErrorCodes.enum.js
  Framework/Backend/errors/grpcErrorToNativeError.js
  Framework/Backend/index.js
  Framework/Backend/test/errors/mocha-grpcErrorToNativeError.js
Labels: Backend, Framework

#2712 [release/web-ui/2.7.4]
  Framework/package-lock.json
  Framework/package.json
Labels: release, Framework

#2726 [OGUI-1494] Refactor: Reuse existing error handling from @alice02/web-ui
  QualityControl/lib/controllers/LayoutController.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/errors/InvalidInputError.js
  QualityControl/lib/errors/NotFoundError.js
  QualityControl/lib/errors/UnauthorizedAccessError.js
  QualityControl/lib/errors/updateExpressResponseFromNativeError.js
  QualityControl/lib/middleware/minimumRole.middleware.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/controllers/StatusController.test.js
Labels: Backend

#2727 [OGUI-1598] Add middleware to the delete api/layout route
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/middleware/layouts/layoutId.middleware.js
  QualityControl/lib/middleware/layouts/layoutOwner.middleware.js
  QualityControl/lib/middleware/layouts/layoutService.middleware.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/test/lib/controllers/LayoutController.test.js
  QualityControl/test/lib/middlewares/layouts/layoutId.middleware.test.js
  QualityControl/test/lib/middlewares/layouts/layoutOwner.middleware.test.js
  QualityControl/test/lib/middlewares/layouts/layoutService.middleware.test.js
  QualityControl/test/test-index.js
Labels: Backend, tests

#2733 [OGUI-1598] Cleanup 'delete' handler in layout controller
  QualityControl/lib/controllers/LayoutController.js
Labels: Backend

#2725 [OGUI-1565] Display infologger link to each task in env-details
  Control/public/common/buttons/infoLoggerRedirectButton.js
  Control/public/common/task/flpTasksTable.js
  Control/public/common/task/tasksPerHostPanel.js
Labels: Frontend, Control

#2735 [OGUI-1602] Remove option to save only for CRUs and rename remaining button to simple 'Configure'
  Control/public/configuration/configPage.js
Labels: Frontend, Control

#2736 [OGUI-1232] Use consul UI param rather than host and port
  Control/public/configuration/ConfigByCru.js
Labels: Frontend, Control

#2737 Bump ALL guis to latest framework to update dependencies
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, Control, InfoLogger, dependencies

#2713 [OGUI-1594] Remove double conversion of grpc error and adapt to usage of errors from web-ui
  Control/lib/control-core/GrpcProxy.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/controllers/Lock.controller.js
  Control/lib/controllers/Run.controller.js
  Control/lib/controllers/WorkflowTemplate.controller.js
  Control/lib/errors/InvalidInputError.js
  Control/lib/errors/NotFoundError.js
  Control/lib/errors/TimeoutError.js
  Control/lib/errors/UnauthorizedAccessError.js
  Control/lib/errors/grpcErrorToNativeError.js
  Control/lib/errors/updateExpressResponseFromNativeError.js
  Control/lib/middleware/lockOwnership.middleware.js
  Control/lib/middleware/minimumRole.middleware.js
  Control/lib/services/Environment.service.js
  Control/lib/services/Lock.service.js
  Control/lib/services/Run.service.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/package.json
  Control/test/api/lock/api-put-locks.test.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/controllers/mocha-lock.controller.test.js
  Control/test/lib/controllers/mocha-run-controller.test.js
  Control/test/lib/controllers/mocha-workflowTemplate.controller.test.js
  Control/test/lib/middleware/mocha-lockOwnership.middleware.test.js
  Control/test/lib/middleware/mocha-minimumRole.middleware.test.js
  Control/test/lib/services/mocha-environment.service.test.js
  Control/test/lib/services/mocha-lock.service.test.js
  Control/test/lib/services/mocha-run.service.test.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
  Control/test/public/page-new-environment-mocha.js
Labels: Backend, Control

#2714 [OGUI-1606] Add copy-to-clipboard component
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/components/StatefulComponent.js
  Framework/Frontend/js/src/index.js
Labels: Frontend, Framework
