Repository AliceO2Group/WebUi, pull requests merged in 2025-06, with the labels that each got.

#2911 [OGUI-1694] Enable browser notifications for first task of an environment going into ERROR or ERROR_CRITICAL
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/public/Model.js
Labels: Frontend, Backend, Control

#2914 [OGUI-1696] Migrate object controller tests
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/controllers/object-controller.test.js
  QualityControl/test/test-index.js
Labels: Backend, tests

#2915 [OGUI-1697] Fix empty filters from API requests
  QualityControl/public/layout/Layout.js
Labels: Frontend, breaking

#2916 [OGUI-1693] Follow epn device state changes and broadcast event on first error
  Control/lib/adapters/OdcDeviceInfoAdapter.js
  Control/lib/common/emitterKeys.enum.js
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/odc/odcDeviceEventAdapter.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/lib/typedefs/odc/OdcDeviceInfo.js
  Control/lib/typedefs/odc/OdcDeviceInfoEvent.js
  Control/lib/typedefs/odc/OdcIntegratedServiceInfo.js
Labels: Backend, Control

#2917 [release/qcg/3.13.0]
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#2919 [OGUI-1706] Fix layout list sync after isOfficial update between 'My layouts' and 'All layouts'
  QualityControl/public/folder/model/FolderModel.js
  QualityControl/public/pages/layoutListView/model/LayoutCardModel.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
Labels: Frontend, breaking

#2929 [OGUI-1719] Improved Error Message Display with Styled Alert Box
  QualityControl/public/app.css
  QualityControl/public/object/objectDraw.js
Labels: Frontend

#2931 [OGUI-1688] Update API endpoint to retrieve list of objects based on filter v2
  QualityControl/lib/QCModel.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/dtos/ObjectGetDto.js
  QualityControl/lib/middleware/objects/objectGetByIdValidationMiddlewareFactory.js
  QualityControl/lib/middleware/objects/objectGetContentsValidationMiddlewareFactory.js
  QualityControl/lib/middleware/objects/objectsGetValidationMiddlewareFactory.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/api/objects/api-get-object.test.js
  QualityControl/test/lib/controllers/ObjectController.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByContentsValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectGetByIdValidation.middleware.test.js
  QualityControl/test/lib/middlewares/objects/objectsGetValidation.middleware.test.js
  QualityControl/test/lib/services/CcdbService.test.js
  QualityControl/test/setup/seeders/ccdbObjects.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Labels: Backend, Quality Control

#2939 [OGUI-1702] Define Basic Protobuf “wrapper” Schema
  Tokenization/backend/wrapper/proto/wrapper.proto
Labels: Tokenization

#2932 [OGUI-1689] Implement object tree filters based on metadata v2
  QualityControl/public/Model.js
  QualityControl/public/common/filters/filter.js
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/filtersConfig.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/filters.js
  QualityControl/public/layout/view/panels/objectInfoResizePanel.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/services/Filter.service.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
Labels: Frontend, Quality Control

#2933 [OGUI-1690] Persist filters between pages v2
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/common/abstracts/BaseViewModel.js
  QualityControl/public/common/errorDiv.js
  QualityControl/public/common/filters/filter.js
  QualityControl/public/common/filters/filterViews.js
  QualityControl/public/common/filters/model/FilterModel.js
  QualityControl/public/common/header.js
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/view/header.js
  QualityControl/public/layout/view/page.js
  QualityControl/public/layout/view/panels/objectTreeSidebar.js
  QualityControl/public/layout/view/panels/settings.js
  QualityControl/public/object/QCObject.js
  QualityControl/public/object/objectTreeHeader.js
  QualityControl/public/object/objectTreePage.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/pages/layoutListView/components/LayoutListHeader.js
  QualityControl/public/pages/layoutListView/model/LayoutListModel.js
  QualityControl/public/pages/objectView/ObjectViewModel.js
  QualityControl/public/pages/objectView/ObjectViewPage.js
  QualityControl/public/pages/objectView/components/header.js
  QualityControl/public/services/QCObject.service.js
  QualityControl/public/view.js
  QualityControl/test/public/features/filterTest.test.js
  QualityControl/test/public/pages/layout-list.test.js
  QualityControl/test/public/pages/layout-show.test.js
  QualityControl/test/public/pages/object-tree.test.js
  QualityControl/test/public/pages/object-view-from-layout-show.test.js
  QualityControl/test/public/pages/object-view-from-object-tree.test.js
  QualityControl/test/setup/seeders/object-view/mock-object-view.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Labels: Frontend, Quality Control

#2947 [OGUI-1645] Add detector specific check for CRU warning message
  Control/public/configuration/configPage.js
Labels: Frontend, Control

#2950 [OGUI-1624] Integrated EDIT_BOX height rows request
  Control/public/workflow/panels/variables/WorkflowVariable.js
  Control/public/workflow/panels/variables/components.js
Labels: Frontend, Control

#2951 [release/cog/1.80.0]
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#2934 [OGUI-1720] Change display timestamp label
  QualityControl/public/layout/view/panels/settings.js
Labels: Frontend

#2872 [QCG] Create test debug script
  QualityControl/docs/Testing.md
  QualityControl/package.json
  QualityControl/test/setup/testServerSetup.js
  codecov.yml
Labels: Quality Control, CI, tests

#2959 [OGUI-1736] Allow detectorless envs to be destroyed
  Control/lib/middleware/getDetectorsLockOwnershipMiddlewareFactory.js
  Control/lib/middleware/setDetectorsFromEnvironmentMiddlewareFactory.js
  Control/lib/services/Lock.service.js
  Control/test/lib/middleware/mocha-getDetectorsLockOwnershipMiddlewareFactory.js
  Control/test/lib/services/mocha-lock.service.test.js
Labels: Backend, Control
