Repository AliceO2Group/WebUi, pull requests merged in 2025-02, with the labels that each got.

#2741 [OGUI-1610] Update CI and DOC to Node22
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/release.yml
  Control/README.md
  Control/package-lock.json
  Control/package.json
  Framework/package-lock.json
  Framework/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: CI, documentation

#2744 [OGUI-1612] Keep grpc call in workflowtemplate.service independently and pass informative message to user
  Control/lib/services/WorkflowTemplate.service.js
  Control/public/pages/EnvironmentCreation/EnvironmentCreation.model.js
  Control/public/pages/EnvironmentCreation/components/workflowMappings.component.js
  Control/test/lib/services/mocha-workflowTemplate.service.test.js
Labels: Frontend, Backend, Control

#2742 [OGUI-1608] Refactor to update FrameworkInfo to AboutView
  QualityControl/public/Model.js
  QualityControl/public/common/header.js
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/AboutViewPage.js
  QualityControl/public/pages/aboutView/components/aboutViewHeader.js
  QualityControl/public/view.js
  QualityControl/test/public/pages/about-page.test.js
Labels: Frontend, Backend

#2740 [OGUI-1531] Add test for logs not to be sent above level
  Framework/Backend/test/log/mocha-log.js
  Framework/Backend/test/mocha-notification.js
Labels: Framework

#2739 [OGUI-1607] Add dropdown component
  Framework/Frontend/css/src/bootstrap.css
  Framework/Frontend/js/src/components/Component.js
  Framework/Frontend/js/src/components/CopyToClipboardComponent.js
  Framework/Frontend/js/src/components/DropdownComponent.js
  Framework/Frontend/js/src/components/PopoverEngine.js
  Framework/Frontend/js/src/components/PopoverPreConfigurations.js
  Framework/Frontend/js/src/components/createPortal.js
  Framework/Frontend/js/src/components/getUniqueId.js
  Framework/Frontend/js/src/components/popover.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/renderer.js
  Framework/Frontend/js/src/utilities/documentClickTaggedEventRegistry.js
Labels: Frontend, Framework

#2624 Add kafka messages consumer to Framework
  .github/workflows/proto-sync.yml
  Framework/Backend/index.js
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/Backend/protobuf/getWebUiProtoIncludeDir.js
  Framework/Backend/protobuf/protos/common.proto
  Framework/Backend/protobuf/protos/events.proto
  Framework/Backend/test/mocha-kafka.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend

#2750 [O2B-536] Add buildUrl utility
  Framework/Backend/http/buildUrl.js
  Framework/Backend/http/parseUrlParameters.js
  Framework/Backend/http/server.js
  Framework/Backend/index.js
  Framework/Backend/test/mocha-http.js
  Framework/Backend/test/mocha-kafka.js
  Framework/Frontend/js/src/QueryRouter.js
  Framework/Frontend/js/src/index.js
  Framework/Frontend/js/src/sessionService.js
  Framework/Frontend/js/src/utilities/buildUrl.js
  Framework/Frontend/js/src/utilities/parseUrlParameters.js
Labels: Framework

#2751 [release/web/2.8.0]
  Framework/package-lock.json
  Framework/package.json
Labels: release, Framework

#2752 Update all GUIs to 2.8.0
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, Control, InfoLogger, dependencies

#2766 [OGUI-1162] Add support for env ecs topic
  Control/lib/api.js
  Control/lib/control-core/AliEcsEventMessagesConsumer.js
  Control/lib/control-core/AliEcsSynchronizer.js
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/environmentEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/EnvironmentEvent.js
Labels: Backend, Control

#2767 [OGUI-1162] Add support for run ecs topics
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/runEventAdapter.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/typedefs/RunEvent.js
Labels: Backend, Control
