Repository AliceO2Group/WebUi, pull requests merged in 2025-04, with the labels that each got.

#2798 [OGUI-1633] Handle `%` in buildUrl utility
  Framework/Backend/http/buildUrl.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/utilities/buildUrl.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, release, Framework

#2799 Bump webui in all projects
  Control/package-lock.json
  Control/package.json
  InfoLogger/package-lock.json
  InfoLogger/package.json
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, Control, InfoLogger, dependencies

#2800 [release/ILG/1.15.1]
  InfoLogger/package-lock.json
  InfoLogger/package.json
Labels: InfoLogger, release

#2801 [OGUI-1634] Add path explicitly to HEAD response from CCDB
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Labels: Backend, Quality Control

#2802 [release/QCG/3.10.0]
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#2743 [OGUI-1054] Status routes convention
  QualityControl/common/library/enums/Status/integratedServices.enum.js
  QualityControl/common/library/enums/Status/serviceStatus.enum.js
  QualityControl/lib/api.js
  QualityControl/lib/controllers/StatusController.js
  QualityControl/lib/middleware/status/statusComponent.middleware.js
  QualityControl/lib/services/Status.service.js
  QualityControl/public/Model.js
  QualityControl/public/app.css
  QualityControl/public/pages/aboutView/AboutViewModel.js
  QualityControl/public/pages/aboutView/AboutViewPage.js
  QualityControl/public/pages/aboutView/components/serviceCard.js
  QualityControl/public/pages/aboutView/components/servicesLoadingPanel.js
  QualityControl/public/pages/aboutView/components/servicesResolvedPanel.js
  QualityControl/test/lib/controllers/StatusController.test.js
  QualityControl/test/lib/middlewares/status/statusComponent.middleware.test.js
  QualityControl/test/lib/services/StatusService.test.js
  QualityControl/test/public/pages/about-page.test.js
  QualityControl/test/setup/seeders/ccdbVersion.js
  QualityControl/test/setup/testSetupForCcdb.js
  QualityControl/test/test-index.js
Labels: Frontend, Backend

#2809 [OGUI-1635] Fix show error in importModal if error occurs during importing a new …
  QualityControl/public/layout/panels/importModal.js
Labels: Frontend, Quality Control

#2810 Fix frontend buildUrl function to handle building URL with empty existing parameters
  Framework/Backend/http/buildUrl.js
  Framework/Backend/test/mocha-http.js
  Framework/Frontend/js/src/utilities/buildUrl.js
  Framework/package-lock.json
  Framework/package.json
Labels: Frontend, Backend, Framework

#2811 [OGUI-1630] Handle gRPC client lost connection and retry
  Control/config-default.js
  Control/lib/api.js
  Control/lib/control-core/ApricotService.js
  Control/lib/control-core/ControlService.js
  Control/lib/control-core/GrpcProxy.js
  Control/lib/control-core/GrpcServiceClient.js
  Control/lib/services/Environment.service.js
  Control/lib/services/WorkflowTemplate.service.js
  Control/package-lock.json
  Control/package.json
  Control/test/lib/control-core/mocha-apricot.service.test.js
  Control/test/lib/control-core/mocha-control-service.js
  Control/test/lib/control-core/mocha-grpc-service-client.test.js
Labels: Backend, Control

#2812 [OGUI-1582] Move couple of log messages to SUPPORT level
  Control/lib/control-core/RequestHandler.js
Labels: Backend, Control

#2815 [OGUI-1639] Add timeouts to jobs on GH actions
  .github/workflows/control.yml
  .github/workflows/framework.yml
  .github/workflows/infologger.yml
  .github/workflows/qc.yml
  .github/workflows/release.yml
Labels: CI

#2813 [OGUI-1587] Remove force transparent background in JSROOT objects
  QualityControl/public/app.css
Labels: Frontend, Quality Control

#2814 [OGUI-1592] Add warning messages if some CRUs are missing configuration
  Control/config-default.js
  Control/public/app.css
  Control/public/common/warningComponent.js
  Control/public/configuration/configPage.js
Labels: Frontend, Control

#2816 [release/cog/1.76.0]
  Control/package-lock.json
  Control/package.json
Labels: Control, release

#2817 [release/QCG/3.11.0]
  QualityControl/package-lock.json
  QualityControl/package.json
Labels: Quality Control, release

#2818 [OGUI-1640] Handle error when ccdb version is unable to be retrieved
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/test/lib/services/CcdbService.test.js
Labels: Backend, Quality Control

#2822 [OGUI-1642] Add new factory middleware to check if requested detectors are available
  Control/lib/controllers/Environment.controller.js
  Control/lib/middleware/verifyDetectorsAvailabilityMiddlewareFactory.middleware.js
  Control/lib/services/Detector.service.js
  Control/test/lib/middleware/mocha-verifyDetectorsAvailabilityMiddlewareFactory.test.js
  Control/test/lib/services/mocha-detector.service.test.js
Labels: Backend, Control

#2830 [OGUI-1651] Add node event emitter and in memory storage for environments
  .eslintrc.js
  Control/lib/api.js
  Control/lib/common/broadcastKeys.enum.js
  Control/lib/common/emitterKeys.enum.js
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/fromEcsEventToEnvironmentEvent.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/lib/typedefs/EnvironmentEvent.js
  Control/package.json
  Control/test/lib/services/environment/mocha-environment-cache.service.test.js
Labels: Backend, Control

#2834 [OGUI-1653] Adapt the emitters and cache to new service and controller
  Control/lib/adapters/EnvironmentInfoAdapter.js
  Control/lib/api.js
  Control/lib/common/broadcastKeys.enum.js
  Control/lib/control-core/EnvCache.js
  Control/lib/controllers/Environment.controller.js
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/lib/typedefs/EnvironmentInfo.js
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/test/lib/controllers/mocha-environment.controller.test.js
  Control/test/lib/mocha-env-cache.js
  Control/test/lib/services/environment/mocha-environment-cache.service.test.js
  Control/test/lib/services/mocha-environment.service.test.js
Labels: Backend, Control

#2831 [OGUI-1649] Modernise layout list page
  QualityControl/public/app.css
  QualityControl/public/layout/Layout.js
  QualityControl/public/layout/list/page.js
  QualityControl/test/public/pages/layout-list.test.js
Labels: Quality Control, tests

#2838 [OGUI-1654] Integrate partidionStateChange from ODC Kafka events
  Control/lib/api.js
  Control/lib/common/broadcastKeys.enum.js
  Control/lib/common/emitterKeys.enum.js
  Control/lib/kafka/AliEcsSynchronizer.js
  Control/lib/kafka/adapters/fromEcsEventToEnvironmentEvent.js
  Control/lib/kafka/adapters/fromEcsIntegratedServiceEventToEvent.js
  Control/lib/kafka/enums/consumerGroups.enum.js
  Control/lib/kafka/enums/topics.enum.js
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/public/Model.js
  Control/public/environment/Environment.js
  Control/public/environment/environmentsPage.js
  Control/public/pages/Environment/Environment.page.js
  Control/public/pages/Environment/components/environmentComponentsSummary.js
  Control/public/pages/Environment/components/environmentStateSummary.js
  Control/test/lib/services/environment/mocha-environment-cache.service.test.js
  Control/test/lib/services/mocha-environment.service.test.js
Labels: Frontend, Backend, Control

#2844 [release/cog/1.77.0]
  Control/package-lock.json
  Control/package.json
Labels: Control, release
