Repository AliceO2Group/WebUi, pull requests merged in 2025-08, with the labels that each got.

#2989 [OGUI-1744] Fix non-waiting for handling of Kafka messages and release
  Framework/Backend/kafka/AliEcsEventMessagesConsumer.js
  Framework/Backend/kafka/KafkaMessagesConsumer.js
  Framework/package-lock.json
  Framework/package.json
Labels: Backend, release

#2993 Add general documentation for development of O2 GUIs
  README.md
  documentation/CONVENTIONS.md
Labels: documentation

#2999 [OGUI-1674] Add deployment controller and endpoint
  Control/lib/api.js
  Control/lib/controllers/Deployment.controller.js
  Control/lib/middleware/logDeploymentRequest.middleware.js
  Control/lib/typedefs/DeploymentRequest.js
  Control/test/api/deployment/api-post-deployment.test.js
  Control/test/lib/controllers/mocha-deployment.controller.js
  Control/test/mocha-index.js
Labels: Backend, Control

#3008 [OGUI-1748] Logging to use process.env in QCG and documentation
  QualityControl/Dockerfile
  QualityControl/README.md
  QualityControl/docs/QCG_Developer_Logging_Conventions.md
  QualityControl/lib/controllers/ObjectController.js
  QualityControl/lib/controllers/UserController.js
  QualityControl/lib/database/SequelizeDatabase.js
  QualityControl/lib/database/index.js
  QualityControl/lib/services/BookkeepingService.js
  QualityControl/lib/services/FilterService.js
  QualityControl/lib/services/JsonFileService.js
  QualityControl/lib/services/QcObject.service.js
  QualityControl/lib/services/ccdb/CcdbService.js
  QualityControl/package-lock.json
  QualityControl/package.json
  QualityControl/test/setup/testRepositorySetup.js
Labels: Quality Control

#3010 [OGUI-1749] Add tasks endpoint, controller and service
  Control/lib/adapters/task/ShortTaskInfoAdapter.js
  Control/lib/api.js
  Control/lib/controllers/Task.controller.js
  Control/lib/services/Task.service.js
  Control/public/common/task/TaskTableModel.js
  Control/public/task/Task.js
  Control/public/utilities/jsonGet.js
  Control/test/api/tasks/api-delete-tasks-test.js
  Control/test/api/tasks/api-get-task-by-id.test.js
  Control/test/api/tasks/api-get-tasks.test.js
  Control/test/config/core-grpc.js
  Control/test/lib/controllers/mocha-task.controller.js
  Control/test/lib/services/mocha-task.service.test.js
  Control/test/mocha-index.js
Labels: Frontend, Backend, Control

#2943 [OGUI-1698] Implement configuration endpoint
  Control/index.js
  Control/lib/api.js
  Control/lib/controllers/Consul.controller.js
  Control/lib/controllers/QCConfiguration.controller.js
  Control/lib/middleware/validateConsulServiceMiddlewareFactory.js
  Control/lib/services/QCConfiguration.service.js
  Control/test/api/configuration/api-get-configuration.test.js
  Control/test/api/configuration/api-get-configurations.test.js
  Control/test/config/testConfigForConsul.js
  Control/test/lib/controllers/mocha-consul-controller.js
  Control/test/lib/controllers/mocha-qcConfiguration.controller.test.js
  Control/test/lib/middleware/mocha-validateConsulServiceMiddlewareFactory.test.js
  Control/test/lib/services/mocha-qcConfiguration.service.test.js
  Control/test/mocha-index.js
Labels: Control, Configuration GUI

#3024 [OGUI-1160] Migrate cleanup resources to new env async and display of Kafka events as updates
  Control/lib/api.js
  Control/lib/common/broadcastKeys.enum.js
  Control/lib/controllers/Deployment.controller.js
  Control/lib/kafka/adapters/fromEcsEventToEnvironmentEvent.js
  Control/lib/services/Deployment.service.js
  Control/lib/services/Environment.service.js
  Control/lib/services/environment/EnvironmentCache.service.js
  Control/lib/typedefs/DeploymentRequest.js
  Control/lib/typedefs/EnvironmentEvent.js
  Control/public/Model.js
  Control/public/common/enums/BroadcastKeys.enum.js
  Control/public/common/events/environmentEventsPanel.js
  Control/public/pages/Environment/components/environmentNavigationTabs.js
  Control/public/pages/Environments/Environments.page.js
  Control/public/pages/TaskList/TaskList.model.js
  Control/public/pages/TaskList/TaskList.page.js
  Control/public/pages/TaskList/components/buttons/cleanupResourcesButton.js
  Control/public/pages/TaskList/components/buttons/cleanupTasksButton.js
  Control/public/pages/TaskList/components/buttons/toggleDetectorPanelVisibilityButton.js
  Control/public/task/content.js
  Control/public/task/header.js
  Control/public/view.js
  Control/test/lib/controllers/mocha-deployment.controller.js
Labels: Control
